<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAllowedvehicleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAllowedvehicleLabel_vehicleid}"/>
                    <h:outputText value="#{allowedvehicleController.selected.vehicleid}" title="#{bundle.ViewAllowedvehicleTitle_vehicleid}"/>
                    <h:outputText value="#{bundle.ViewAllowedvehicleLabel_vehicle}"/>
                    <h:outputText value="#{allowedvehicleController.selected.vehicle}" title="#{bundle.ViewAllowedvehicleTitle_vehicle}"/>
                    <h:outputText value="#{bundle.ViewAllowedvehicleLabel_priceHour}"/>
                    <h:outputText value="#{allowedvehicleController.selected.priceHour}" title="#{bundle.ViewAllowedvehicleTitle_priceHour}"/>
                    <h:outputText value="#{bundle.ViewAllowedvehicleLabel_priceDay}"/>
                    <h:outputText value="#{allowedvehicleController.selected.priceDay}" title="#{bundle.ViewAllowedvehicleTitle_priceDay}"/>
                    <h:outputText value="#{bundle.ViewAllowedvehicleLabel_priceWeek}"/>
                    <h:outputText value="#{allowedvehicleController.selected.priceWeek}" title="#{bundle.ViewAllowedvehicleTitle_priceWeek}"/>
                    <h:outputText value="#{bundle.ViewAllowedvehicleLabel_priceMonth}"/>
                    <h:outputText value="#{allowedvehicleController.selected.priceMonth}" title="#{bundle.ViewAllowedvehicleTitle_priceMonth}"/>
                    <h:outputText value="#{bundle.ViewAllowedvehicleLabel_status}"/>
                    <h:outputText value="#{allowedvehicleController.selected.status}" title="#{bundle.ViewAllowedvehicleTitle_status}"/>
                    <h:outputText value="#{bundle.ViewAllowedvehicleLabel_parkareaid}"/>
                    <h:outputText value="#{allowedvehicleController.selected.parkareaid}" title="#{bundle.ViewAllowedvehicleTitle_parkareaid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{allowedvehicleController.destroyAndView}" value="#{bundle.ViewAllowedvehicleDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAllowedvehicleEditLink}"/>
                <br />
                <h:commandLink action="#{allowedvehicleController.prepareCreate}" value="#{bundle.ViewAllowedvehicleCreateLink}" />
                <br />
                <h:commandLink action="#{allowedvehicleController.prepareList}" value="#{bundle.ViewAllowedvehicleShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAllowedvehicleIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
