<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePricelistTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePricelistLabel_priceid}" for="priceid" />
                    <h:inputText id="priceid" value="#{pricelistController.selected.priceid}" title="#{bundle.CreatePricelistTitle_priceid}" required="true" requiredMessage="#{bundle.CreatePricelistRequiredMessage_priceid}"/>
                    <h:outputLabel value="#{bundle.CreatePricelistLabel_nbrday}" for="nbrday" />
                    <h:inputText id="nbrday" value="#{pricelistController.selected.nbrday}" title="#{bundle.CreatePricelistTitle_nbrday}" />
                    <h:outputLabel value="#{bundle.CreatePricelistLabel_price}" for="price" />
                    <h:inputText id="price" value="#{pricelistController.selected.price}" title="#{bundle.CreatePricelistTitle_price}" />
                    <h:outputLabel value="#{bundle.CreatePricelistLabel_type}" for="type" />
                    <h:inputText id="type" value="#{pricelistController.selected.type}" title="#{bundle.CreatePricelistTitle_type}" />
                    <h:outputLabel value="#{bundle.CreatePricelistLabel_status}" for="status" />
                    <h:inputText id="status" value="#{pricelistController.selected.status}" title="#{bundle.CreatePricelistTitle_status}" />
                    <h:outputLabel value="#{bundle.CreatePricelistLabel_pricingid}" for="pricingid" />
                    <h:selectOneMenu id="pricingid" value="#{pricelistController.selected.pricingid}" title="#{bundle.CreatePricelistTitle_pricingid}" >
                        <f:selectItems value="#{airportpricingController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pricelistController.create}" value="#{bundle.CreatePricelistSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{pricelistController.prepareList}" value="#{bundle.CreatePricelistShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePricelistIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
