<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPricelistTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPricelistEmpty}" rendered="#{pricelistController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{pricelistController.items.rowCount > 0}">
                    <h:outputText value="#{pricelistController.pagination.pageFirstItem + 1}..#{pricelistController.pagination.pageLastItem + 1}/#{pricelistController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{pricelistController.previous}" value="#{bundle.Previous} #{pricelistController.pagination.pageSize}" rendered="#{pricelistController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{pricelistController.next}" value="#{bundle.Next} #{pricelistController.pagination.pageSize}" rendered="#{pricelistController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{pricelistController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPricelistTitle_priceid}"/>
                            </f:facet>
                            <h:outputText value="#{item.priceid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPricelistTitle_nbrday}"/>
                            </f:facet>
                            <h:outputText value="#{item.nbrday}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPricelistTitle_price}"/>
                            </f:facet>
                            <h:outputText value="#{item.price}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPricelistTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPricelistTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPricelistTitle_pricingid}"/>
                            </f:facet>
                            <h:outputText value="#{item.pricingid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{pricelistController.prepareView}" value="#{bundle.ListPricelistViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pricelistController.prepareEdit}" value="#{bundle.ListPricelistEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pricelistController.destroy}" value="#{bundle.ListPricelistDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{pricelistController.prepareCreate}" value="#{bundle.ListPricelistCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPricelistIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
