<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAirportbookingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_bookingid}" for="bookingid" />
                    <h:inputText id="bookingid" value="#{airportbookingController.selected.bookingid}" title="#{bundle.EditAirportbookingTitle_bookingid}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_bookingid}"/>
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_bookingDate}" for="bookingDate" />
                    <h:inputText id="bookingDate" value="#{airportbookingController.selected.bookingDate}" title="#{bundle.EditAirportbookingTitle_bookingDate}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_bookingDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_nrofspaces}" for="nrofspaces" />
                    <h:inputText id="nrofspaces" value="#{airportbookingController.selected.nrofspaces}" title="#{bundle.EditAirportbookingTitle_nrofspaces}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_price}" for="price" />
                    <h:inputText id="price" value="#{airportbookingController.selected.price}" title="#{bundle.EditAirportbookingTitle_price}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_anrede}" for="anrede" />
                    <h:inputText id="anrede" value="#{airportbookingController.selected.anrede}" title="#{bundle.EditAirportbookingTitle_anrede}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_lastname}" for="lastname" />
                    <h:inputText id="lastname" value="#{airportbookingController.selected.lastname}" title="#{bundle.EditAirportbookingTitle_lastname}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_lastname}"/>
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_forename}" for="forename" />
                    <h:inputText id="forename" value="#{airportbookingController.selected.forename}" title="#{bundle.EditAirportbookingTitle_forename}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_forename}"/>
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{airportbookingController.selected.phone}" title="#{bundle.EditAirportbookingTitle_phone}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_email}" for="email" />
                    <h:inputText id="email" value="#{airportbookingController.selected.email}" title="#{bundle.EditAirportbookingTitle_email}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_street}" for="street" />
                    <h:inputText id="street" value="#{airportbookingController.selected.street}" title="#{bundle.EditAirportbookingTitle_street}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_zipcode}" for="zipcode" />
                    <h:inputText id="zipcode" value="#{airportbookingController.selected.zipcode}" title="#{bundle.EditAirportbookingTitle_zipcode}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_city}" for="city" />
                    <h:inputText id="city" value="#{airportbookingController.selected.city}" title="#{bundle.EditAirportbookingTitle_city}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_country}" for="country" />
                    <h:inputText id="country" value="#{airportbookingController.selected.country}" title="#{bundle.EditAirportbookingTitle_country}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_company}" for="company" />
                    <h:inputText id="company" value="#{airportbookingController.selected.company}" title="#{bundle.EditAirportbookingTitle_company}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_bankaccountholder}" for="bankaccountholder" />
                    <h:inputText id="bankaccountholder" value="#{airportbookingController.selected.bankaccountholder}" title="#{bundle.EditAirportbookingTitle_bankaccountholder}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_bank}" for="bank" />
                    <h:inputText id="bank" value="#{airportbookingController.selected.bank}" title="#{bundle.EditAirportbookingTitle_bank}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_bankaccount}" for="bankaccount" />
                    <h:inputText id="bankaccount" value="#{airportbookingController.selected.bankaccount}" title="#{bundle.EditAirportbookingTitle_bankaccount}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_bankcode}" for="bankcode" />
                    <h:inputText id="bankcode" value="#{airportbookingController.selected.bankcode}" title="#{bundle.EditAirportbookingTitle_bankcode}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_iban}" for="iban" />
                    <h:inputText id="iban" value="#{airportbookingController.selected.iban}" title="#{bundle.EditAirportbookingTitle_iban}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_bic}" for="bic" />
                    <h:inputText id="bic" value="#{airportbookingController.selected.bic}" title="#{bundle.EditAirportbookingTitle_bic}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_ustIdnr}" for="ustIdnr" />
                    <h:inputText id="ustIdnr" value="#{airportbookingController.selected.ustIdnr}" title="#{bundle.EditAirportbookingTitle_ustIdnr}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_vehicleLicence}" for="vehicleLicence" />
                    <h:inputText id="vehicleLicence" value="#{airportbookingController.selected.vehicleLicence}" title="#{bundle.EditAirportbookingTitle_vehicleLicence}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_personNbr}" for="personNbr" />
                    <h:inputText id="personNbr" value="#{airportbookingController.selected.personNbr}" title="#{bundle.EditAirportbookingTitle_personNbr}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_departure}" for="departure" />
                    <h:inputText id="departure" value="#{airportbookingController.selected.departure}" title="#{bundle.EditAirportbookingTitle_departure}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_departure}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_departureHour}" for="departureHour" />
                    <h:inputText id="departureHour" value="#{airportbookingController.selected.departureHour}" title="#{bundle.EditAirportbookingTitle_departureHour}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_departureFlightNbr}" for="departureFlightNbr" />
                    <h:inputText id="departureFlightNbr" value="#{airportbookingController.selected.departureFlightNbr}" title="#{bundle.EditAirportbookingTitle_departureFlightNbr}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_arrival}" for="arrival" />
                    <h:inputText id="arrival" value="#{airportbookingController.selected.arrival}" title="#{bundle.EditAirportbookingTitle_arrival}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_arrival}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_arrivalHour}" for="arrivalHour" />
                    <h:inputText id="arrivalHour" value="#{airportbookingController.selected.arrivalHour}" title="#{bundle.EditAirportbookingTitle_arrivalHour}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_arrivalFlightNbr}" for="arrivalFlightNbr" />
                    <h:inputText id="arrivalFlightNbr" value="#{airportbookingController.selected.arrivalFlightNbr}" title="#{bundle.EditAirportbookingTitle_arrivalFlightNbr}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_contractNbr}" for="contractNbr" />
                    <h:inputText id="contractNbr" value="#{airportbookingController.selected.contractNbr}" title="#{bundle.EditAirportbookingTitle_contractNbr}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_contractNbr}"/>
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_contractTrack}" for="contractTrack" />
                    <h:inputText id="contractTrack" value="#{airportbookingController.selected.contractTrack}" title="#{bundle.EditAirportbookingTitle_contractTrack}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_contractTrack}"/>
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_note}" for="note" />
                    <h:inputText id="note" value="#{airportbookingController.selected.note}" title="#{bundle.EditAirportbookingTitle_note}" />
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_status}" for="status" />
                    <h:inputText id="status" value="#{airportbookingController.selected.status}" title="#{bundle.EditAirportbookingTitle_status}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditAirportbookingLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{airportbookingController.selected.parkareaid}" title="#{bundle.EditAirportbookingTitle_parkareaid}" required="true" requiredMessage="#{bundle.EditAirportbookingRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{airportbookingController.update}" value="#{bundle.EditAirportbookingSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAirportbookingViewLink}"/>
                <br />
                <h:commandLink action="#{airportbookingController.prepareList}" value="#{bundle.EditAirportbookingShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAirportbookingIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
