<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateUserdataTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_userdataid}" for="userdataid" />
                    <h:inputText id="userdataid" value="#{userdataController.selected.userdataid}" title="#{bundle.CreateUserdataTitle_userdataid}" required="true" requiredMessage="#{bundle.CreateUserdataRequiredMessage_userdataid}"/>
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_street}" for="street" />
                    <h:inputText id="street" value="#{userdataController.selected.street}" title="#{bundle.CreateUserdataTitle_street}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_zipcode}" for="zipcode" />
                    <h:inputText id="zipcode" value="#{userdataController.selected.zipcode}" title="#{bundle.CreateUserdataTitle_zipcode}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_city}" for="city" />
                    <h:inputText id="city" value="#{userdataController.selected.city}" title="#{bundle.CreateUserdataTitle_city}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_country}" for="country" />
                    <h:inputText id="country" value="#{userdataController.selected.country}" title="#{bundle.CreateUserdataTitle_country}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{userdataController.selected.phone}" title="#{bundle.CreateUserdataTitle_phone}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_mobile}" for="mobile" />
                    <h:inputText id="mobile" value="#{userdataController.selected.mobile}" title="#{bundle.CreateUserdataTitle_mobile}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_fax}" for="fax" />
                    <h:inputText id="fax" value="#{userdataController.selected.fax}" title="#{bundle.CreateUserdataTitle_fax}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_birth}" for="birth" />
                    <h:inputText id="birth" value="#{userdataController.selected.birth}" title="#{bundle.CreateUserdataTitle_birth}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_workarea}" for="workarea" />
                    <h:inputText id="workarea" value="#{userdataController.selected.workarea}" title="#{bundle.CreateUserdataTitle_workarea}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_companyrole}" for="companyrole" />
                    <h:inputText id="companyrole" value="#{userdataController.selected.companyrole}" title="#{bundle.CreateUserdataTitle_companyrole}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_company}" for="company" />
                    <h:inputText id="company" value="#{userdataController.selected.company}" title="#{bundle.CreateUserdataTitle_company}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_bankaccountholder}" for="bankaccountholder" />
                    <h:inputText id="bankaccountholder" value="#{userdataController.selected.bankaccountholder}" title="#{bundle.CreateUserdataTitle_bankaccountholder}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_bank}" for="bank" />
                    <h:inputText id="bank" value="#{userdataController.selected.bank}" title="#{bundle.CreateUserdataTitle_bank}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_bankaccount}" for="bankaccount" />
                    <h:inputText id="bankaccount" value="#{userdataController.selected.bankaccount}" title="#{bundle.CreateUserdataTitle_bankaccount}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_bankcode}" for="bankcode" />
                    <h:inputText id="bankcode" value="#{userdataController.selected.bankcode}" title="#{bundle.CreateUserdataTitle_bankcode}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_iban}" for="iban" />
                    <h:inputText id="iban" value="#{userdataController.selected.iban}" title="#{bundle.CreateUserdataTitle_iban}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_bic}" for="bic" />
                    <h:inputText id="bic" value="#{userdataController.selected.bic}" title="#{bundle.CreateUserdataTitle_bic}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_paypalemail}" for="paypalemail" />
                    <h:inputText id="paypalemail" value="#{userdataController.selected.paypalemail}" title="#{bundle.CreateUserdataTitle_paypalemail}" />
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_vat}" for="vat" />
                    <h:inputText id="vat" value="#{userdataController.selected.vat}" title="#{bundle.CreateUserdataTitle_vat}" required="true" requiredMessage="#{bundle.CreateUserdataRequiredMessage_vat}"/>
                    <h:outputLabel value="#{bundle.CreateUserdataLabel_userid}" for="userid" />
                    <h:selectOneMenu id="userid" value="#{userdataController.selected.userid}" title="#{bundle.CreateUserdataTitle_userid}" required="true" requiredMessage="#{bundle.CreateUserdataRequiredMessage_userid}">
                        <f:selectItems value="#{parkuserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{userdataController.create}" value="#{bundle.CreateUserdataSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{userdataController.prepareList}" value="#{bundle.CreateUserdataShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateUserdataIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
