<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUserdataTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUserdataLabel_userdataid}" for="userdataid" />
                    <h:inputText id="userdataid" value="#{userdataController.selected.userdataid}" title="#{bundle.EditUserdataTitle_userdataid}" required="true" requiredMessage="#{bundle.EditUserdataRequiredMessage_userdataid}"/>
                    <h:outputLabel value="#{bundle.EditUserdataLabel_street}" for="street" />
                    <h:inputText id="street" value="#{userdataController.selected.street}" title="#{bundle.EditUserdataTitle_street}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_zipcode}" for="zipcode" />
                    <h:inputText id="zipcode" value="#{userdataController.selected.zipcode}" title="#{bundle.EditUserdataTitle_zipcode}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_city}" for="city" />
                    <h:inputText id="city" value="#{userdataController.selected.city}" title="#{bundle.EditUserdataTitle_city}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_country}" for="country" />
                    <h:inputText id="country" value="#{userdataController.selected.country}" title="#{bundle.EditUserdataTitle_country}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{userdataController.selected.phone}" title="#{bundle.EditUserdataTitle_phone}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_mobile}" for="mobile" />
                    <h:inputText id="mobile" value="#{userdataController.selected.mobile}" title="#{bundle.EditUserdataTitle_mobile}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_fax}" for="fax" />
                    <h:inputText id="fax" value="#{userdataController.selected.fax}" title="#{bundle.EditUserdataTitle_fax}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_birth}" for="birth" />
                    <h:inputText id="birth" value="#{userdataController.selected.birth}" title="#{bundle.EditUserdataTitle_birth}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditUserdataLabel_workarea}" for="workarea" />
                    <h:inputText id="workarea" value="#{userdataController.selected.workarea}" title="#{bundle.EditUserdataTitle_workarea}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_companyrole}" for="companyrole" />
                    <h:inputText id="companyrole" value="#{userdataController.selected.companyrole}" title="#{bundle.EditUserdataTitle_companyrole}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_company}" for="company" />
                    <h:inputText id="company" value="#{userdataController.selected.company}" title="#{bundle.EditUserdataTitle_company}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_bankaccountholder}" for="bankaccountholder" />
                    <h:inputText id="bankaccountholder" value="#{userdataController.selected.bankaccountholder}" title="#{bundle.EditUserdataTitle_bankaccountholder}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_bank}" for="bank" />
                    <h:inputText id="bank" value="#{userdataController.selected.bank}" title="#{bundle.EditUserdataTitle_bank}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_bankaccount}" for="bankaccount" />
                    <h:inputText id="bankaccount" value="#{userdataController.selected.bankaccount}" title="#{bundle.EditUserdataTitle_bankaccount}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_bankcode}" for="bankcode" />
                    <h:inputText id="bankcode" value="#{userdataController.selected.bankcode}" title="#{bundle.EditUserdataTitle_bankcode}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_iban}" for="iban" />
                    <h:inputText id="iban" value="#{userdataController.selected.iban}" title="#{bundle.EditUserdataTitle_iban}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_bic}" for="bic" />
                    <h:inputText id="bic" value="#{userdataController.selected.bic}" title="#{bundle.EditUserdataTitle_bic}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_paypalemail}" for="paypalemail" />
                    <h:inputText id="paypalemail" value="#{userdataController.selected.paypalemail}" title="#{bundle.EditUserdataTitle_paypalemail}" />
                    <h:outputLabel value="#{bundle.EditUserdataLabel_vat}" for="vat" />
                    <h:inputText id="vat" value="#{userdataController.selected.vat}" title="#{bundle.EditUserdataTitle_vat}" required="true" requiredMessage="#{bundle.EditUserdataRequiredMessage_vat}"/>
                    <h:outputLabel value="#{bundle.EditUserdataLabel_userid}" for="userid" />
                    <h:selectOneMenu id="userid" value="#{userdataController.selected.userid}" title="#{bundle.EditUserdataTitle_userid}" required="true" requiredMessage="#{bundle.EditUserdataRequiredMessage_userid}">
                        <f:selectItems value="#{parkuserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{userdataController.update}" value="#{bundle.EditUserdataSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUserdataViewLink}"/>
                <br />
                <h:commandLink action="#{userdataController.prepareList}" value="#{bundle.EditUserdataShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUserdataIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
