<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListUserdataTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListUserdataEmpty}" rendered="#{userdataController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{userdataController.items.rowCount > 0}">
                    <h:outputText value="#{userdataController.pagination.pageFirstItem + 1}..#{userdataController.pagination.pageLastItem + 1}/#{userdataController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{userdataController.previous}" value="#{bundle.Previous} #{userdataController.pagination.pageSize}" rendered="#{userdataController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{userdataController.next}" value="#{bundle.Next} #{userdataController.pagination.pageSize}" rendered="#{userdataController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{userdataController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_userdataid}"/>
                            </f:facet>
                            <h:outputText value="#{item.userdataid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_street}"/>
                            </f:facet>
                            <h:outputText value="#{item.street}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_zipcode}"/>
                            </f:facet>
                            <h:outputText value="#{item.zipcode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_city}"/>
                            </f:facet>
                            <h:outputText value="#{item.city}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_country}"/>
                            </f:facet>
                            <h:outputText value="#{item.country}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_phone}"/>
                            </f:facet>
                            <h:outputText value="#{item.phone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_mobile}"/>
                            </f:facet>
                            <h:outputText value="#{item.mobile}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_fax}"/>
                            </f:facet>
                            <h:outputText value="#{item.fax}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_birth}"/>
                            </f:facet>
                            <h:outputText value="#{item.birth}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_workarea}"/>
                            </f:facet>
                            <h:outputText value="#{item.workarea}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_companyrole}"/>
                            </f:facet>
                            <h:outputText value="#{item.companyrole}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_company}"/>
                            </f:facet>
                            <h:outputText value="#{item.company}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_bankaccountholder}"/>
                            </f:facet>
                            <h:outputText value="#{item.bankaccountholder}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_bank}"/>
                            </f:facet>
                            <h:outputText value="#{item.bank}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_bankaccount}"/>
                            </f:facet>
                            <h:outputText value="#{item.bankaccount}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_bankcode}"/>
                            </f:facet>
                            <h:outputText value="#{item.bankcode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_iban}"/>
                            </f:facet>
                            <h:outputText value="#{item.iban}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_bic}"/>
                            </f:facet>
                            <h:outputText value="#{item.bic}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_paypalemail}"/>
                            </f:facet>
                            <h:outputText value="#{item.paypalemail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_vat}"/>
                            </f:facet>
                            <h:outputText value="#{item.vat}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserdataTitle_userid}"/>
                            </f:facet>
                            <h:outputText value="#{item.userid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{userdataController.prepareView}" value="#{bundle.ListUserdataViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{userdataController.prepareEdit}" value="#{bundle.ListUserdataEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{userdataController.destroy}" value="#{bundle.ListUserdataDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{userdataController.prepareCreate}" value="#{bundle.ListUserdataCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListUserdataIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
