<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDistrictTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_districtid}" for="districtid" />
                    <h:inputText id="districtid" value="#{districtController.selected.districtid}" title="#{bundle.CreateDistrictTitle_districtid}" required="true" requiredMessage="#{bundle.CreateDistrictRequiredMessage_districtid}"/>
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_name}" for="name" />
                    <h:inputText id="name" value="#{districtController.selected.name}" title="#{bundle.CreateDistrictTitle_name}" required="true" requiredMessage="#{bundle.CreateDistrictRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_street}" for="street" />
                    <h:inputText id="street" value="#{districtController.selected.street}" title="#{bundle.CreateDistrictTitle_street}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_zipcode}" for="zipcode" />
                    <h:inputText id="zipcode" value="#{districtController.selected.zipcode}" title="#{bundle.CreateDistrictTitle_zipcode}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_city}" for="city" />
                    <h:inputText id="city" value="#{districtController.selected.city}" title="#{bundle.CreateDistrictTitle_city}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_country}" for="country" />
                    <h:inputText id="country" value="#{districtController.selected.country}" title="#{bundle.CreateDistrictTitle_country}" required="true" requiredMessage="#{bundle.CreateDistrictRequiredMessage_country}"/>
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_latitude}" for="latitude" />
                    <h:inputText id="latitude" value="#{districtController.selected.latitude}" title="#{bundle.CreateDistrictTitle_latitude}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_longitude}" for="longitude" />
                    <h:inputText id="longitude" value="#{districtController.selected.longitude}" title="#{bundle.CreateDistrictTitle_longitude}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_description}" for="description" />
                    <h:inputText id="description" value="#{districtController.selected.description}" title="#{bundle.CreateDistrictTitle_description}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_seoTitle}" for="seoTitle" />
                    <h:inputText id="seoTitle" value="#{districtController.selected.seoTitle}" title="#{bundle.CreateDistrictTitle_seoTitle}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_seoDescript}" for="seoDescript" />
                    <h:inputText id="seoDescript" value="#{districtController.selected.seoDescript}" title="#{bundle.CreateDistrictTitle_seoDescript}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_status}" for="status" />
                    <h:inputText id="status" value="#{districtController.selected.status}" title="#{bundle.CreateDistrictTitle_status}" required="true" requiredMessage="#{bundle.CreateDistrictRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_foto1}" for="foto1" />
                    <h:inputText id="foto1" value="#{districtController.selected.foto1}" title="#{bundle.CreateDistrictTitle_foto1}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_foto1Title}" for="foto1Title" />
                    <h:inputText id="foto1Title" value="#{districtController.selected.foto1Title}" title="#{bundle.CreateDistrictTitle_foto1Title}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_urheber1}" for="urheber1" />
                    <h:inputText id="urheber1" value="#{districtController.selected.urheber1}" title="#{bundle.CreateDistrictTitle_urheber1}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_urheber1Link}" for="urheber1Link" />
                    <h:inputText id="urheber1Link" value="#{districtController.selected.urheber1Link}" title="#{bundle.CreateDistrictTitle_urheber1Link}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_urheber2}" for="urheber2" />
                    <h:inputText id="urheber2" value="#{districtController.selected.urheber2}" title="#{bundle.CreateDistrictTitle_urheber2}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_title}" for="title" />
                    <h:inputText id="title" value="#{districtController.selected.title}" title="#{bundle.CreateDistrictTitle_title}" />
                    <h:outputLabel value="#{bundle.CreateDistrictLabel_adwords}" for="adwords" />
                    <h:inputText id="adwords" value="#{districtController.selected.adwords}" title="#{bundle.CreateDistrictTitle_adwords}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{districtController.create}" value="#{bundle.CreateDistrictSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{districtController.prepareList}" value="#{bundle.CreateDistrictShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDistrictIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
