<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDistrictTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDistrictEmpty}" rendered="#{districtController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{districtController.items.rowCount > 0}">
                    <h:outputText value="#{districtController.pagination.pageFirstItem + 1}..#{districtController.pagination.pageLastItem + 1}/#{districtController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{districtController.previous}" value="#{bundle.Previous} #{districtController.pagination.pageSize}" rendered="#{districtController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{districtController.next}" value="#{bundle.Next} #{districtController.pagination.pageSize}" rendered="#{districtController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{districtController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_districtid}"/>
                            </f:facet>
                            <h:outputText value="#{item.districtid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_street}"/>
                            </f:facet>
                            <h:outputText value="#{item.street}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_zipcode}"/>
                            </f:facet>
                            <h:outputText value="#{item.zipcode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_city}"/>
                            </f:facet>
                            <h:outputText value="#{item.city}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_country}"/>
                            </f:facet>
                            <h:outputText value="#{item.country}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_latitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.latitude}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_longitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.longitude}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_seoTitle}"/>
                            </f:facet>
                            <h:outputText value="#{item.seoTitle}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_seoDescript}"/>
                            </f:facet>
                            <h:outputText value="#{item.seoDescript}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_foto1}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_foto1Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto1Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_urheber1}"/>
                            </f:facet>
                            <h:outputText value="#{item.urheber1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_urheber1Link}"/>
                            </f:facet>
                            <h:outputText value="#{item.urheber1Link}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_urheber2}"/>
                            </f:facet>
                            <h:outputText value="#{item.urheber2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDistrictTitle_adwords}"/>
                            </f:facet>
                            <h:outputText value="#{item.adwords}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{districtController.prepareView}" value="#{bundle.ListDistrictViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{districtController.prepareEdit}" value="#{bundle.ListDistrictEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{districtController.destroy}" value="#{bundle.ListDistrictDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{districtController.prepareCreate}" value="#{bundle.ListDistrictCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDistrictIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
