<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditParkareaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditParkareaLabel_parkareaid}" for="parkareaid" />
                    <h:inputText id="parkareaid" value="#{parkareaController.selected.parkareaid}" title="#{bundle.EditParkareaTitle_parkareaid}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_parkareaid}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_latitude}" for="latitude" />
                    <h:inputText id="latitude" value="#{parkareaController.selected.latitude}" title="#{bundle.EditParkareaTitle_latitude}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_latitude}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_longitude}" for="longitude" />
                    <h:inputText id="longitude" value="#{parkareaController.selected.longitude}" title="#{bundle.EditParkareaTitle_longitude}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_longitude}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_street}" for="street" />
                    <h:inputText id="street" value="#{parkareaController.selected.street}" title="#{bundle.EditParkareaTitle_street}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_street}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_zipcode}" for="zipcode" />
                    <h:inputText id="zipcode" value="#{parkareaController.selected.zipcode}" title="#{bundle.EditParkareaTitle_zipcode}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_zipcode}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_city}" for="city" />
                    <h:inputText id="city" value="#{parkareaController.selected.city}" title="#{bundle.EditParkareaTitle_city}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_city}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_country}" for="country" />
                    <h:inputText id="country" value="#{parkareaController.selected.country}" title="#{bundle.EditParkareaTitle_country}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_country}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_startDate}" for="startDate" />
                    <h:inputText id="startDate" value="#{parkareaController.selected.startDate}" title="#{bundle.EditParkareaTitle_startDate}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_startDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_endDate}" for="endDate" />
                    <h:inputText id="endDate" value="#{parkareaController.selected.endDate}" title="#{bundle.EditParkareaTitle_endDate}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_endDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_areatype}" for="areatype" />
                    <h:inputText id="areatype" value="#{parkareaController.selected.areatype}" title="#{bundle.EditParkareaTitle_areatype}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_scheduletype}" for="scheduletype" />
                    <h:inputText id="scheduletype" value="#{parkareaController.selected.scheduletype}" title="#{bundle.EditParkareaTitle_scheduletype}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_scheduletype}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_status}" for="status" />
                    <h:inputText id="status" value="#{parkareaController.selected.status}" title="#{bundle.EditParkareaTitle_status}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_description}" for="description" />
                    <h:inputText id="description" value="#{parkareaController.selected.description}" title="#{bundle.EditParkareaTitle_description}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_secret}" for="secret" />
                    <h:inputText id="secret" value="#{parkareaController.selected.secret}" title="#{bundle.EditParkareaTitle_secret}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_priceMin}" for="priceMin" />
                    <h:inputText id="priceMin" value="#{parkareaController.selected.priceMin}" title="#{bundle.EditParkareaTitle_priceMin}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_nrofspaces}" for="nrofspaces" />
                    <h:inputText id="nrofspaces" value="#{parkareaController.selected.nrofspaces}" title="#{bundle.EditParkareaTitle_nrofspaces}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_markeruri}" for="markeruri" />
                    <h:inputText id="markeruri" value="#{parkareaController.selected.markeruri}" title="#{bundle.EditParkareaTitle_markeruri}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_title}" for="title" />
                    <h:inputText id="title" value="#{parkareaController.selected.title}" title="#{bundle.EditParkareaTitle_title}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_pricemodel}" for="pricemodel" />
                    <h:inputText id="pricemodel" value="#{parkareaController.selected.pricemodel}" title="#{bundle.EditParkareaTitle_pricemodel}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_pricemodel}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_seoTitle}" for="seoTitle" />
                    <h:inputText id="seoTitle" value="#{parkareaController.selected.seoTitle}" title="#{bundle.EditParkareaTitle_seoTitle}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_seoTitle}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_citySeo}" for="citySeo" />
                    <h:inputText id="citySeo" value="#{parkareaController.selected.citySeo}" title="#{bundle.EditParkareaTitle_citySeo}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_citySeo}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_openingTime}" for="openingTime" />
                    <h:inputText id="openingTime" value="#{parkareaController.selected.openingTime}" title="#{bundle.EditParkareaTitle_openingTime}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_headroom}" for="headroom" />
                    <h:inputText id="headroom" value="#{parkareaController.selected.headroom}" title="#{bundle.EditParkareaTitle_headroom}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_operator}" for="operator" />
                    <h:inputText id="operator" value="#{parkareaController.selected.operator}" title="#{bundle.EditParkareaTitle_operator}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_longterm}" for="longterm" />
                    <h:inputText id="longterm" value="#{parkareaController.selected.longterm}" title="#{bundle.EditParkareaTitle_longterm}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_longterm}"/>
                    <h:outputLabel value="#{bundle.EditParkareaLabel_gettingThere}" for="gettingThere" />
                    <h:inputText id="gettingThere" value="#{parkareaController.selected.gettingThere}" title="#{bundle.EditParkareaTitle_gettingThere}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_priceType}" for="priceType" />
                    <h:inputText id="priceType" value="#{parkareaController.selected.priceType}" title="#{bundle.EditParkareaTitle_priceType}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_operatorId}" for="operatorId" />
                    <h:inputText id="operatorId" value="#{parkareaController.selected.operatorId}" title="#{bundle.EditParkareaTitle_operatorId}" />
                    <h:outputLabel value="#{bundle.EditParkareaLabel_userid}" for="userid" />
                    <h:selectOneMenu id="userid" value="#{parkareaController.selected.userid}" title="#{bundle.EditParkareaTitle_userid}" required="true" requiredMessage="#{bundle.EditParkareaRequiredMessage_userid}">
                        <f:selectItems value="#{parkuserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{parkareaController.update}" value="#{bundle.EditParkareaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditParkareaViewLink}"/>
                <br />
                <h:commandLink action="#{parkareaController.prepareList}" value="#{bundle.EditParkareaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditParkareaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
