<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewParkareaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewParkareaLabel_parkareaid}"/>
                    <h:outputText value="#{parkareaController.selected.parkareaid}" title="#{bundle.ViewParkareaTitle_parkareaid}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_latitude}"/>
                    <h:outputText value="#{parkareaController.selected.latitude}" title="#{bundle.ViewParkareaTitle_latitude}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_longitude}"/>
                    <h:outputText value="#{parkareaController.selected.longitude}" title="#{bundle.ViewParkareaTitle_longitude}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_street}"/>
                    <h:outputText value="#{parkareaController.selected.street}" title="#{bundle.ViewParkareaTitle_street}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_zipcode}"/>
                    <h:outputText value="#{parkareaController.selected.zipcode}" title="#{bundle.ViewParkareaTitle_zipcode}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_city}"/>
                    <h:outputText value="#{parkareaController.selected.city}" title="#{bundle.ViewParkareaTitle_city}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_country}"/>
                    <h:outputText value="#{parkareaController.selected.country}" title="#{bundle.ViewParkareaTitle_country}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_startDate}"/>
                    <h:outputText value="#{parkareaController.selected.startDate}" title="#{bundle.ViewParkareaTitle_startDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewParkareaLabel_endDate}"/>
                    <h:outputText value="#{parkareaController.selected.endDate}" title="#{bundle.ViewParkareaTitle_endDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewParkareaLabel_areatype}"/>
                    <h:outputText value="#{parkareaController.selected.areatype}" title="#{bundle.ViewParkareaTitle_areatype}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_scheduletype}"/>
                    <h:outputText value="#{parkareaController.selected.scheduletype}" title="#{bundle.ViewParkareaTitle_scheduletype}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_status}"/>
                    <h:outputText value="#{parkareaController.selected.status}" title="#{bundle.ViewParkareaTitle_status}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_description}"/>
                    <h:outputText value="#{parkareaController.selected.description}" title="#{bundle.ViewParkareaTitle_description}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_secret}"/>
                    <h:outputText value="#{parkareaController.selected.secret}" title="#{bundle.ViewParkareaTitle_secret}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_priceMin}"/>
                    <h:outputText value="#{parkareaController.selected.priceMin}" title="#{bundle.ViewParkareaTitle_priceMin}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_nrofspaces}"/>
                    <h:outputText value="#{parkareaController.selected.nrofspaces}" title="#{bundle.ViewParkareaTitle_nrofspaces}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_markeruri}"/>
                    <h:outputText value="#{parkareaController.selected.markeruri}" title="#{bundle.ViewParkareaTitle_markeruri}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_title}"/>
                    <h:outputText value="#{parkareaController.selected.title}" title="#{bundle.ViewParkareaTitle_title}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_pricemodel}"/>
                    <h:outputText value="#{parkareaController.selected.pricemodel}" title="#{bundle.ViewParkareaTitle_pricemodel}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_seoTitle}"/>
                    <h:outputText value="#{parkareaController.selected.seoTitle}" title="#{bundle.ViewParkareaTitle_seoTitle}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_citySeo}"/>
                    <h:outputText value="#{parkareaController.selected.citySeo}" title="#{bundle.ViewParkareaTitle_citySeo}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_openingTime}"/>
                    <h:outputText value="#{parkareaController.selected.openingTime}" title="#{bundle.ViewParkareaTitle_openingTime}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_headroom}"/>
                    <h:outputText value="#{parkareaController.selected.headroom}" title="#{bundle.ViewParkareaTitle_headroom}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_operator}"/>
                    <h:outputText value="#{parkareaController.selected.operator}" title="#{bundle.ViewParkareaTitle_operator}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_longterm}"/>
                    <h:outputText value="#{parkareaController.selected.longterm}" title="#{bundle.ViewParkareaTitle_longterm}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_gettingThere}"/>
                    <h:outputText value="#{parkareaController.selected.gettingThere}" title="#{bundle.ViewParkareaTitle_gettingThere}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_priceType}"/>
                    <h:outputText value="#{parkareaController.selected.priceType}" title="#{bundle.ViewParkareaTitle_priceType}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_operatorId}"/>
                    <h:outputText value="#{parkareaController.selected.operatorId}" title="#{bundle.ViewParkareaTitle_operatorId}"/>
                    <h:outputText value="#{bundle.ViewParkareaLabel_userid}"/>
                    <h:outputText value="#{parkareaController.selected.userid}" title="#{bundle.ViewParkareaTitle_userid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{parkareaController.destroyAndView}" value="#{bundle.ViewParkareaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewParkareaEditLink}"/>
                <br />
                <h:commandLink action="#{parkareaController.prepareCreate}" value="#{bundle.ViewParkareaCreateLink}" />
                <br />
                <h:commandLink action="#{parkareaController.prepareList}" value="#{bundle.ViewParkareaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewParkareaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
