<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLongtermparkingrateTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_rateid}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.rateid}" title="#{bundle.ViewLongtermparkingrateTitle_rateid}"/>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_rateName}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.rateName}" title="#{bundle.ViewLongtermparkingrateTitle_rateName}"/>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_webName}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.webName}" title="#{bundle.ViewLongtermparkingrateTitle_webName}"/>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_bookingModel}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.bookingModel}" title="#{bundle.ViewLongtermparkingrateTitle_bookingModel}"/>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_description}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.description}" title="#{bundle.ViewLongtermparkingrateTitle_description}"/>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_minTime}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.minTime}" title="#{bundle.ViewLongtermparkingrateTitle_minTime}"/>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_price}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.price}" title="#{bundle.ViewLongtermparkingrateTitle_price}"/>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_areatype}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.areatype}" title="#{bundle.ViewLongtermparkingrateTitle_areatype}"/>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_settingDate}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.settingDate}" title="#{bundle.ViewLongtermparkingrateTitle_settingDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_note}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.note}" title="#{bundle.ViewLongtermparkingrateTitle_note}"/>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_status}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.status}" title="#{bundle.ViewLongtermparkingrateTitle_status}"/>
                    <h:outputText value="#{bundle.ViewLongtermparkingrateLabel_parkareaid}"/>
                    <h:outputText value="#{longtermparkingrateController.selected.parkareaid}" title="#{bundle.ViewLongtermparkingrateTitle_parkareaid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{longtermparkingrateController.destroyAndView}" value="#{bundle.ViewLongtermparkingrateDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewLongtermparkingrateEditLink}"/>
                <br />
                <h:commandLink action="#{longtermparkingrateController.prepareCreate}" value="#{bundle.ViewLongtermparkingrateCreateLink}" />
                <br />
                <h:commandLink action="#{longtermparkingrateController.prepareList}" value="#{bundle.ViewLongtermparkingrateShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewLongtermparkingrateIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
