<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCarparkpricing1Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCarparkpricing1Label_cppricing1id}" for="cppricing1id" />
                    <h:inputText id="cppricing1id" value="#{carparkpricing1Controller.selected.cppricing1id}" title="#{bundle.CreateCarparkpricing1Title_cppricing1id}" required="true" requiredMessage="#{bundle.CreateCarparkpricing1RequiredMessage_cppricing1id}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkpricing1Label_pricing}" for="pricing" />
                    <h:inputText id="pricing" value="#{carparkpricing1Controller.selected.pricing}" title="#{bundle.CreateCarparkpricing1Title_pricing}" />
                    <h:outputLabel value="#{bundle.CreateCarparkpricing1Label_status}" for="status" />
                    <h:inputText id="status" value="#{carparkpricing1Controller.selected.status}" title="#{bundle.CreateCarparkpricing1Title_status}" required="true" requiredMessage="#{bundle.CreateCarparkpricing1RequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkpricing1Label_parkhausid}" for="parkhausid" />
                    <h:selectOneMenu id="parkhausid" value="#{carparkpricing1Controller.selected.parkhausid}" title="#{bundle.CreateCarparkpricing1Title_parkhausid}" required="true" requiredMessage="#{bundle.CreateCarparkpricing1RequiredMessage_parkhausid}">
                        <f:selectItems value="#{parkhausController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{carparkpricing1Controller.create}" value="#{bundle.CreateCarparkpricing1SaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{carparkpricing1Controller.prepareList}" value="#{bundle.CreateCarparkpricing1ShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCarparkpricing1IndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
