<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCarparkfacilityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCarparkfacilityLabel_cpfacilityid}" for="cpfacilityid" />
                    <h:inputText id="cpfacilityid" value="#{carparkfacilityController.selected.cpfacilityid}" title="#{bundle.CreateCarparkfacilityTitle_cpfacilityid}" required="true" requiredMessage="#{bundle.CreateCarparkfacilityRequiredMessage_cpfacilityid}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkfacilityLabel_facility}" for="facility" />
                    <h:inputText id="facility" value="#{carparkfacilityController.selected.facility}" title="#{bundle.CreateCarparkfacilityTitle_facility}" required="true" requiredMessage="#{bundle.CreateCarparkfacilityRequiredMessage_facility}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkfacilityLabel_status}" for="status" />
                    <h:inputText id="status" value="#{carparkfacilityController.selected.status}" title="#{bundle.CreateCarparkfacilityTitle_status}" required="true" requiredMessage="#{bundle.CreateCarparkfacilityRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkfacilityLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{carparkfacilityController.selected.parkareaid}" title="#{bundle.CreateCarparkfacilityTitle_parkareaid}" required="true" requiredMessage="#{bundle.CreateCarparkfacilityRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{carparkfacilityController.create}" value="#{bundle.CreateCarparkfacilitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{carparkfacilityController.prepareList}" value="#{bundle.CreateCarparkfacilityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCarparkfacilityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
