<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCarparkfacilityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCarparkfacilityEmpty}" rendered="#{carparkfacilityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{carparkfacilityController.items.rowCount > 0}">
                    <h:outputText value="#{carparkfacilityController.pagination.pageFirstItem + 1}..#{carparkfacilityController.pagination.pageLastItem + 1}/#{carparkfacilityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{carparkfacilityController.previous}" value="#{bundle.Previous} #{carparkfacilityController.pagination.pageSize}" rendered="#{carparkfacilityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{carparkfacilityController.next}" value="#{bundle.Next} #{carparkfacilityController.pagination.pageSize}" rendered="#{carparkfacilityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{carparkfacilityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkfacilityTitle_cpfacilityid}"/>
                            </f:facet>
                            <h:outputText value="#{item.cpfacilityid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkfacilityTitle_facility}"/>
                            </f:facet>
                            <h:outputText value="#{item.facility}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkfacilityTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkfacilityTitle_parkareaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkareaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{carparkfacilityController.prepareView}" value="#{bundle.ListCarparkfacilityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{carparkfacilityController.prepareEdit}" value="#{bundle.ListCarparkfacilityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{carparkfacilityController.destroy}" value="#{bundle.ListCarparkfacilityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{carparkfacilityController.prepareCreate}" value="#{bundle.ListCarparkfacilityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCarparkfacilityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
