<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCarparkfacilityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCarparkfacilityLabel_cpfacilityid}"/>
                    <h:outputText value="#{carparkfacilityController.selected.cpfacilityid}" title="#{bundle.ViewCarparkfacilityTitle_cpfacilityid}"/>
                    <h:outputText value="#{bundle.ViewCarparkfacilityLabel_facility}"/>
                    <h:outputText value="#{carparkfacilityController.selected.facility}" title="#{bundle.ViewCarparkfacilityTitle_facility}"/>
                    <h:outputText value="#{bundle.ViewCarparkfacilityLabel_status}"/>
                    <h:outputText value="#{carparkfacilityController.selected.status}" title="#{bundle.ViewCarparkfacilityTitle_status}"/>
                    <h:outputText value="#{bundle.ViewCarparkfacilityLabel_parkareaid}"/>
                    <h:outputText value="#{carparkfacilityController.selected.parkareaid}" title="#{bundle.ViewCarparkfacilityTitle_parkareaid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{carparkfacilityController.destroyAndView}" value="#{bundle.ViewCarparkfacilityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCarparkfacilityEditLink}"/>
                <br />
                <h:commandLink action="#{carparkfacilityController.prepareCreate}" value="#{bundle.ViewCarparkfacilityCreateLink}" />
                <br />
                <h:commandLink action="#{carparkfacilityController.prepareList}" value="#{bundle.ViewCarparkfacilityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCarparkfacilityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
