<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAreacontact1Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_areacontact1id}" for="areacontact1id" />
                    <h:inputText id="areacontact1id" value="#{areacontact1Controller.selected.areacontact1id}" title="#{bundle.CreateAreacontact1Title_areacontact1id}" required="true" requiredMessage="#{bundle.CreateAreacontact1RequiredMessage_areacontact1id}"/>
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_name}" for="name" />
                    <h:inputText id="name" value="#{areacontact1Controller.selected.name}" title="#{bundle.CreateAreacontact1Title_name}" />
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_street}" for="street" />
                    <h:inputText id="street" value="#{areacontact1Controller.selected.street}" title="#{bundle.CreateAreacontact1Title_street}" />
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_zipcode}" for="zipcode" />
                    <h:inputText id="zipcode" value="#{areacontact1Controller.selected.zipcode}" title="#{bundle.CreateAreacontact1Title_zipcode}" />
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_city}" for="city" />
                    <h:inputText id="city" value="#{areacontact1Controller.selected.city}" title="#{bundle.CreateAreacontact1Title_city}" />
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_country}" for="country" />
                    <h:inputText id="country" value="#{areacontact1Controller.selected.country}" title="#{bundle.CreateAreacontact1Title_country}" />
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_email}" for="email" />
                    <h:inputText id="email" value="#{areacontact1Controller.selected.email}" title="#{bundle.CreateAreacontact1Title_email}" />
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_phone}" for="phone" />
                    <h:inputText id="phone" value="#{areacontact1Controller.selected.phone}" title="#{bundle.CreateAreacontact1Title_phone}" />
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_mobile}" for="mobile" />
                    <h:inputText id="mobile" value="#{areacontact1Controller.selected.mobile}" title="#{bundle.CreateAreacontact1Title_mobile}" />
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_fax}" for="fax" />
                    <h:inputText id="fax" value="#{areacontact1Controller.selected.fax}" title="#{bundle.CreateAreacontact1Title_fax}" />
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_status}" for="status" />
                    <h:inputText id="status" value="#{areacontact1Controller.selected.status}" title="#{bundle.CreateAreacontact1Title_status}" required="true" requiredMessage="#{bundle.CreateAreacontact1RequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_impressum}" for="impressum" />
                    <h:inputText id="impressum" value="#{areacontact1Controller.selected.impressum}" title="#{bundle.CreateAreacontact1Title_impressum}" />
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_telefonclick}" for="telefonclick" />
                    <h:inputText id="telefonclick" value="#{areacontact1Controller.selected.telefonclick}" title="#{bundle.CreateAreacontact1Title_telefonclick}" required="true" requiredMessage="#{bundle.CreateAreacontact1RequiredMessage_telefonclick}"/>
                    <h:outputLabel value="#{bundle.CreateAreacontact1Label_parkhausid}" for="parkhausid" />
                    <h:selectOneMenu id="parkhausid" value="#{areacontact1Controller.selected.parkhausid}" title="#{bundle.CreateAreacontact1Title_parkhausid}" required="true" requiredMessage="#{bundle.CreateAreacontact1RequiredMessage_parkhausid}">
                        <f:selectItems value="#{parkhausController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{areacontact1Controller.create}" value="#{bundle.CreateAreacontact1SaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{areacontact1Controller.prepareList}" value="#{bundle.CreateAreacontact1ShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAreacontact1IndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
