<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAreacontact1Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAreacontact1Label_areacontact1id}"/>
                    <h:outputText value="#{areacontact1Controller.selected.areacontact1id}" title="#{bundle.ViewAreacontact1Title_areacontact1id}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_name}"/>
                    <h:outputText value="#{areacontact1Controller.selected.name}" title="#{bundle.ViewAreacontact1Title_name}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_street}"/>
                    <h:outputText value="#{areacontact1Controller.selected.street}" title="#{bundle.ViewAreacontact1Title_street}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_zipcode}"/>
                    <h:outputText value="#{areacontact1Controller.selected.zipcode}" title="#{bundle.ViewAreacontact1Title_zipcode}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_city}"/>
                    <h:outputText value="#{areacontact1Controller.selected.city}" title="#{bundle.ViewAreacontact1Title_city}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_country}"/>
                    <h:outputText value="#{areacontact1Controller.selected.country}" title="#{bundle.ViewAreacontact1Title_country}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_email}"/>
                    <h:outputText value="#{areacontact1Controller.selected.email}" title="#{bundle.ViewAreacontact1Title_email}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_phone}"/>
                    <h:outputText value="#{areacontact1Controller.selected.phone}" title="#{bundle.ViewAreacontact1Title_phone}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_mobile}"/>
                    <h:outputText value="#{areacontact1Controller.selected.mobile}" title="#{bundle.ViewAreacontact1Title_mobile}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_fax}"/>
                    <h:outputText value="#{areacontact1Controller.selected.fax}" title="#{bundle.ViewAreacontact1Title_fax}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_status}"/>
                    <h:outputText value="#{areacontact1Controller.selected.status}" title="#{bundle.ViewAreacontact1Title_status}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_impressum}"/>
                    <h:outputText value="#{areacontact1Controller.selected.impressum}" title="#{bundle.ViewAreacontact1Title_impressum}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_telefonclick}"/>
                    <h:outputText value="#{areacontact1Controller.selected.telefonclick}" title="#{bundle.ViewAreacontact1Title_telefonclick}"/>
                    <h:outputText value="#{bundle.ViewAreacontact1Label_parkhausid}"/>
                    <h:outputText value="#{areacontact1Controller.selected.parkhausid}" title="#{bundle.ViewAreacontact1Title_parkhausid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{areacontact1Controller.destroyAndView}" value="#{bundle.ViewAreacontact1DestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAreacontact1EditLink}"/>
                <br />
                <h:commandLink action="#{areacontact1Controller.prepareCreate}" value="#{bundle.ViewAreacontact1CreateLink}" />
                <br />
                <h:commandLink action="#{areacontact1Controller.prepareList}" value="#{bundle.ViewAreacontact1ShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAreacontact1IndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
