<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAreabookingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_bookingid}" for="bookingid" />
                    <h:inputText id="bookingid" value="#{areabookingController.selected.bookingid}" title="#{bundle.EditAreabookingTitle_bookingid}" required="true" requiredMessage="#{bundle.EditAreabookingRequiredMessage_bookingid}"/>
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_userid}" for="userid" />
                    <h:inputText id="userid" value="#{areabookingController.selected.userid}" title="#{bundle.EditAreabookingTitle_userid}" required="true" requiredMessage="#{bundle.EditAreabookingRequiredMessage_userid}"/>
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_bookingDate}" for="bookingDate" />
                    <h:inputText id="bookingDate" value="#{areabookingController.selected.bookingDate}" title="#{bundle.EditAreabookingTitle_bookingDate}" required="true" requiredMessage="#{bundle.EditAreabookingRequiredMessage_bookingDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_fromtime}" for="fromtime" />
                    <h:inputText id="fromtime" value="#{areabookingController.selected.fromtime}" title="#{bundle.EditAreabookingTitle_fromtime}" required="true" requiredMessage="#{bundle.EditAreabookingRequiredMessage_fromtime}"/>
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_tilltimeExpected}" for="tilltimeExpected" />
                    <h:inputText id="tilltimeExpected" value="#{areabookingController.selected.tilltimeExpected}" title="#{bundle.EditAreabookingTitle_tilltimeExpected}" />
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_tilltime}" for="tilltime" />
                    <h:inputText id="tilltime" value="#{areabookingController.selected.tilltime}" title="#{bundle.EditAreabookingTitle_tilltime}" />
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_fee}" for="fee" />
                    <h:inputText id="fee" value="#{areabookingController.selected.fee}" title="#{bundle.EditAreabookingTitle_fee}" />
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_status}" for="status" />
                    <h:inputText id="status" value="#{areabookingController.selected.status}" title="#{bundle.EditAreabookingTitle_status}" />
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_notice}" for="notice" />
                    <h:inputText id="notice" value="#{areabookingController.selected.notice}" title="#{bundle.EditAreabookingTitle_notice}" />
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_outbookingDate}" for="outbookingDate" />
                    <h:inputText id="outbookingDate" value="#{areabookingController.selected.outbookingDate}" title="#{bundle.EditAreabookingTitle_outbookingDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAreabookingLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{areabookingController.selected.parkareaid}" title="#{bundle.EditAreabookingTitle_parkareaid}" required="true" requiredMessage="#{bundle.EditAreabookingRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{areabookingController.update}" value="#{bundle.EditAreabookingSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAreabookingViewLink}"/>
                <br />
                <h:commandLink action="#{areabookingController.prepareList}" value="#{bundle.EditAreabookingShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAreabookingIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
