<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAreabookingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAreabookingEmpty}" rendered="#{areabookingController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{areabookingController.items.rowCount > 0}">
                    <h:outputText value="#{areabookingController.pagination.pageFirstItem + 1}..#{areabookingController.pagination.pageLastItem + 1}/#{areabookingController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{areabookingController.previous}" value="#{bundle.Previous} #{areabookingController.pagination.pageSize}" rendered="#{areabookingController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{areabookingController.next}" value="#{bundle.Next} #{areabookingController.pagination.pageSize}" rendered="#{areabookingController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{areabookingController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_bookingid}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookingid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_userid}"/>
                            </f:facet>
                            <h:outputText value="#{item.userid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_bookingDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookingDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_fromtime}"/>
                            </f:facet>
                            <h:outputText value="#{item.fromtime}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_tilltimeExpected}"/>
                            </f:facet>
                            <h:outputText value="#{item.tilltimeExpected}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_tilltime}"/>
                            </f:facet>
                            <h:outputText value="#{item.tilltime}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_fee}"/>
                            </f:facet>
                            <h:outputText value="#{item.fee}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_notice}"/>
                            </f:facet>
                            <h:outputText value="#{item.notice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_outbookingDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.outbookingDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreabookingTitle_parkareaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkareaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{areabookingController.prepareView}" value="#{bundle.ListAreabookingViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{areabookingController.prepareEdit}" value="#{bundle.ListAreabookingEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{areabookingController.destroy}" value="#{bundle.ListAreabookingDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{areabookingController.prepareCreate}" value="#{bundle.ListAreabookingCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAreabookingIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
