<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCarparkbookingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_bookingid}" for="bookingid" />
                    <h:inputText id="bookingid" value="#{carparkbookingController.selected.bookingid}" title="#{bundle.CreateCarparkbookingTitle_bookingid}" required="true" requiredMessage="#{bundle.CreateCarparkbookingRequiredMessage_bookingid}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_bookingDate}" for="bookingDate" />
                    <h:inputText id="bookingDate" value="#{carparkbookingController.selected.bookingDate}" title="#{bundle.CreateCarparkbookingTitle_bookingDate}" required="true" requiredMessage="#{bundle.CreateCarparkbookingRequiredMessage_bookingDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_nrofspaces}" for="nrofspaces" />
                    <h:inputText id="nrofspaces" value="#{carparkbookingController.selected.nrofspaces}" title="#{bundle.CreateCarparkbookingTitle_nrofspaces}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_price}" for="price" />
                    <h:inputText id="price" value="#{carparkbookingController.selected.price}" title="#{bundle.CreateCarparkbookingTitle_price}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_anrede}" for="anrede" />
                    <h:inputText id="anrede" value="#{carparkbookingController.selected.anrede}" title="#{bundle.CreateCarparkbookingTitle_anrede}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_lastname}" for="lastname" />
                    <h:inputText id="lastname" value="#{carparkbookingController.selected.lastname}" title="#{bundle.CreateCarparkbookingTitle_lastname}" required="true" requiredMessage="#{bundle.CreateCarparkbookingRequiredMessage_lastname}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_forename}" for="forename" />
                    <h:inputText id="forename" value="#{carparkbookingController.selected.forename}" title="#{bundle.CreateCarparkbookingTitle_forename}" required="true" requiredMessage="#{bundle.CreateCarparkbookingRequiredMessage_forename}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{carparkbookingController.selected.phone}" title="#{bundle.CreateCarparkbookingTitle_phone}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_email}" for="email" />
                    <h:inputText id="email" value="#{carparkbookingController.selected.email}" title="#{bundle.CreateCarparkbookingTitle_email}" required="true" requiredMessage="#{bundle.CreateCarparkbookingRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_street}" for="street" />
                    <h:inputText id="street" value="#{carparkbookingController.selected.street}" title="#{bundle.CreateCarparkbookingTitle_street}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_zipcode}" for="zipcode" />
                    <h:inputText id="zipcode" value="#{carparkbookingController.selected.zipcode}" title="#{bundle.CreateCarparkbookingTitle_zipcode}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_city}" for="city" />
                    <h:inputText id="city" value="#{carparkbookingController.selected.city}" title="#{bundle.CreateCarparkbookingTitle_city}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_country}" for="country" />
                    <h:inputText id="country" value="#{carparkbookingController.selected.country}" title="#{bundle.CreateCarparkbookingTitle_country}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_company}" for="company" />
                    <h:inputText id="company" value="#{carparkbookingController.selected.company}" title="#{bundle.CreateCarparkbookingTitle_company}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_bankaccountholder}" for="bankaccountholder" />
                    <h:inputText id="bankaccountholder" value="#{carparkbookingController.selected.bankaccountholder}" title="#{bundle.CreateCarparkbookingTitle_bankaccountholder}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_bank}" for="bank" />
                    <h:inputText id="bank" value="#{carparkbookingController.selected.bank}" title="#{bundle.CreateCarparkbookingTitle_bank}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_bankaccount}" for="bankaccount" />
                    <h:inputText id="bankaccount" value="#{carparkbookingController.selected.bankaccount}" title="#{bundle.CreateCarparkbookingTitle_bankaccount}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_bankcode}" for="bankcode" />
                    <h:inputText id="bankcode" value="#{carparkbookingController.selected.bankcode}" title="#{bundle.CreateCarparkbookingTitle_bankcode}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_iban}" for="iban" />
                    <h:inputText id="iban" value="#{carparkbookingController.selected.iban}" title="#{bundle.CreateCarparkbookingTitle_iban}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_bic}" for="bic" />
                    <h:inputText id="bic" value="#{carparkbookingController.selected.bic}" title="#{bundle.CreateCarparkbookingTitle_bic}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_ustIdnr}" for="ustIdnr" />
                    <h:inputText id="ustIdnr" value="#{carparkbookingController.selected.ustIdnr}" title="#{bundle.CreateCarparkbookingTitle_ustIdnr}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_vehicleLicence}" for="vehicleLicence" />
                    <h:inputText id="vehicleLicence" value="#{carparkbookingController.selected.vehicleLicence}" title="#{bundle.CreateCarparkbookingTitle_vehicleLicence}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_contractNbr}" for="contractNbr" />
                    <h:inputText id="contractNbr" value="#{carparkbookingController.selected.contractNbr}" title="#{bundle.CreateCarparkbookingTitle_contractNbr}" required="true" requiredMessage="#{bundle.CreateCarparkbookingRequiredMessage_contractNbr}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_contractTrack}" for="contractTrack" />
                    <h:inputText id="contractTrack" value="#{carparkbookingController.selected.contractTrack}" title="#{bundle.CreateCarparkbookingTitle_contractTrack}" required="true" requiredMessage="#{bundle.CreateCarparkbookingRequiredMessage_contractTrack}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_note}" for="note" />
                    <h:inputText id="note" value="#{carparkbookingController.selected.note}" title="#{bundle.CreateCarparkbookingTitle_note}" />
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_status}" for="status" />
                    <h:inputText id="status" value="#{carparkbookingController.selected.status}" title="#{bundle.CreateCarparkbookingTitle_status}" required="true" requiredMessage="#{bundle.CreateCarparkbookingRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkbookingLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{carparkbookingController.selected.parkareaid}" title="#{bundle.CreateCarparkbookingTitle_parkareaid}" required="true" requiredMessage="#{bundle.CreateCarparkbookingRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{carparkbookingController.create}" value="#{bundle.CreateCarparkbookingSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{carparkbookingController.prepareList}" value="#{bundle.CreateCarparkbookingShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCarparkbookingIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
