<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCarparkbookingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCarparkbookingEmpty}" rendered="#{carparkbookingController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{carparkbookingController.items.rowCount > 0}">
                    <h:outputText value="#{carparkbookingController.pagination.pageFirstItem + 1}..#{carparkbookingController.pagination.pageLastItem + 1}/#{carparkbookingController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{carparkbookingController.previous}" value="#{bundle.Previous} #{carparkbookingController.pagination.pageSize}" rendered="#{carparkbookingController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{carparkbookingController.next}" value="#{bundle.Next} #{carparkbookingController.pagination.pageSize}" rendered="#{carparkbookingController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{carparkbookingController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_bookingid}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookingid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_bookingDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookingDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_nrofspaces}"/>
                            </f:facet>
                            <h:outputText value="#{item.nrofspaces}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_price}"/>
                            </f:facet>
                            <h:outputText value="#{item.price}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_anrede}"/>
                            </f:facet>
                            <h:outputText value="#{item.anrede}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_lastname}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastname}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_forename}"/>
                            </f:facet>
                            <h:outputText value="#{item.forename}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_phone}"/>
                            </f:facet>
                            <h:outputText value="#{item.phone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_street}"/>
                            </f:facet>
                            <h:outputText value="#{item.street}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_zipcode}"/>
                            </f:facet>
                            <h:outputText value="#{item.zipcode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_city}"/>
                            </f:facet>
                            <h:outputText value="#{item.city}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_country}"/>
                            </f:facet>
                            <h:outputText value="#{item.country}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_company}"/>
                            </f:facet>
                            <h:outputText value="#{item.company}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_bankaccountholder}"/>
                            </f:facet>
                            <h:outputText value="#{item.bankaccountholder}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_bank}"/>
                            </f:facet>
                            <h:outputText value="#{item.bank}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_bankaccount}"/>
                            </f:facet>
                            <h:outputText value="#{item.bankaccount}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_bankcode}"/>
                            </f:facet>
                            <h:outputText value="#{item.bankcode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_iban}"/>
                            </f:facet>
                            <h:outputText value="#{item.iban}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_bic}"/>
                            </f:facet>
                            <h:outputText value="#{item.bic}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_ustIdnr}"/>
                            </f:facet>
                            <h:outputText value="#{item.ustIdnr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_vehicleLicence}"/>
                            </f:facet>
                            <h:outputText value="#{item.vehicleLicence}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_contractNbr}"/>
                            </f:facet>
                            <h:outputText value="#{item.contractNbr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_contractTrack}"/>
                            </f:facet>
                            <h:outputText value="#{item.contractTrack}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_note}"/>
                            </f:facet>
                            <h:outputText value="#{item.note}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkbookingTitle_parkareaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkareaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{carparkbookingController.prepareView}" value="#{bundle.ListCarparkbookingViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{carparkbookingController.prepareEdit}" value="#{bundle.ListCarparkbookingEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{carparkbookingController.destroy}" value="#{bundle.ListCarparkbookingDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{carparkbookingController.prepareCreate}" value="#{bundle.ListCarparkbookingCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCarparkbookingIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
