<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCrowduserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCrowduserLabel_userid}" for="userid" />
                    <h:inputText id="userid" value="#{crowduserController.selected.userid}" title="#{bundle.CreateCrowduserTitle_userid}" required="true" requiredMessage="#{bundle.CreateCrowduserRequiredMessage_userid}"/>
                    <h:outputLabel value="#{bundle.CreateCrowduserLabel_email}" for="email" />
                    <h:inputText id="email" value="#{crowduserController.selected.email}" title="#{bundle.CreateCrowduserTitle_email}" required="true" requiredMessage="#{bundle.CreateCrowduserRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateCrowduserLabel_title}" for="title" />
                    <h:inputText id="title" value="#{crowduserController.selected.title}" title="#{bundle.CreateCrowduserTitle_title}" />
                    <h:outputLabel value="#{bundle.CreateCrowduserLabel_name}" for="name" />
                    <h:inputText id="name" value="#{crowduserController.selected.name}" title="#{bundle.CreateCrowduserTitle_name}" />
                    <h:outputLabel value="#{bundle.CreateCrowduserLabel_created}" for="created" />
                    <h:inputText id="created" value="#{crowduserController.selected.created}" title="#{bundle.CreateCrowduserTitle_created}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCrowduserLabel_ipadresse}" for="ipadresse" />
                    <h:inputText id="ipadresse" value="#{crowduserController.selected.ipadresse}" title="#{bundle.CreateCrowduserTitle_ipadresse}" />
                    <h:outputLabel value="#{bundle.CreateCrowduserLabel_description}" for="description" />
                    <h:inputText id="description" value="#{crowduserController.selected.description}" title="#{bundle.CreateCrowduserTitle_description}" />
                    <h:outputLabel value="#{bundle.CreateCrowduserLabel_userstatus}" for="userstatus" />
                    <h:inputText id="userstatus" value="#{crowduserController.selected.userstatus}" title="#{bundle.CreateCrowduserTitle_userstatus}" required="true" requiredMessage="#{bundle.CreateCrowduserRequiredMessage_userstatus}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{crowduserController.create}" value="#{bundle.CreateCrowduserSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{crowduserController.prepareList}" value="#{bundle.CreateCrowduserShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCrowduserIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
