<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewProposalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewProposalLabel_proposalid}"/>
                    <h:outputText value="#{proposalController.selected.proposalid}" title="#{bundle.ViewProposalTitle_proposalid}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_proposal}"/>
                    <h:outputText value="#{proposalController.selected.proposal}" title="#{bundle.ViewProposalTitle_proposal}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_title}"/>
                    <h:outputText value="#{proposalController.selected.title}" title="#{bundle.ViewProposalTitle_title}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_latitude}"/>
                    <h:outputText value="#{proposalController.selected.latitude}" title="#{bundle.ViewProposalTitle_latitude}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_longitude}"/>
                    <h:outputText value="#{proposalController.selected.longitude}" title="#{bundle.ViewProposalTitle_longitude}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_street}"/>
                    <h:outputText value="#{proposalController.selected.street}" title="#{bundle.ViewProposalTitle_street}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_zipcode}"/>
                    <h:outputText value="#{proposalController.selected.zipcode}" title="#{bundle.ViewProposalTitle_zipcode}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_city}"/>
                    <h:outputText value="#{proposalController.selected.city}" title="#{bundle.ViewProposalTitle_city}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_country}"/>
                    <h:outputText value="#{proposalController.selected.country}" title="#{bundle.ViewProposalTitle_country}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_address}"/>
                    <h:outputText value="#{proposalController.selected.address}" title="#{bundle.ViewProposalTitle_address}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_datum}"/>
                    <h:outputText value="#{proposalController.selected.datum}" title="#{bundle.ViewProposalTitle_datum}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewProposalLabel_votes}"/>
                    <h:outputText value="#{proposalController.selected.votes}" title="#{bundle.ViewProposalTitle_votes}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_status}"/>
                    <h:outputText value="#{proposalController.selected.status}" title="#{bundle.ViewProposalTitle_status}"/>
                    <h:outputText value="#{bundle.ViewProposalLabel_userid}"/>
                    <h:outputText value="#{proposalController.selected.userid}" title="#{bundle.ViewProposalTitle_userid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{proposalController.destroyAndView}" value="#{bundle.ViewProposalDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewProposalEditLink}"/>
                <br />
                <h:commandLink action="#{proposalController.prepareCreate}" value="#{bundle.ViewProposalCreateLink}" />
                <br />
                <h:commandLink action="#{proposalController.prepareList}" value="#{bundle.ViewProposalShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewProposalIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
