<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAdvertiseareaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_adsareaid}" for="adsareaid" />
                    <h:inputText id="adsareaid" value="#{advertiseareaController.selected.adsareaid}" title="#{bundle.CreateAdvertiseareaTitle_adsareaid}" required="true" requiredMessage="#{bundle.CreateAdvertiseareaRequiredMessage_adsareaid}"/>
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_parkareaid}" for="parkareaid" />
                    <h:inputText id="parkareaid" value="#{advertiseareaController.selected.parkareaid}" title="#{bundle.CreateAdvertiseareaTitle_parkareaid}" required="true" requiredMessage="#{bundle.CreateAdvertiseareaRequiredMessage_parkareaid}"/>
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_titleBold}" for="titleBold" />
                    <h:inputText id="titleBold" value="#{advertiseareaController.selected.titleBold}" title="#{bundle.CreateAdvertiseareaTitle_titleBold}" required="true" requiredMessage="#{bundle.CreateAdvertiseareaRequiredMessage_titleBold}"/>
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_background}" for="background" />
                    <h:inputText id="background" value="#{advertiseareaController.selected.background}" title="#{bundle.CreateAdvertiseareaTitle_background}" required="true" requiredMessage="#{bundle.CreateAdvertiseareaRequiredMessage_background}"/>
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_markerBig}" for="markerBig" />
                    <h:inputText id="markerBig" value="#{advertiseareaController.selected.markerBig}" title="#{bundle.CreateAdvertiseareaTitle_markerBig}" required="true" requiredMessage="#{bundle.CreateAdvertiseareaRequiredMessage_markerBig}"/>
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_placeTop}" for="placeTop" />
                    <h:inputText id="placeTop" value="#{advertiseareaController.selected.placeTop}" title="#{bundle.CreateAdvertiseareaTitle_placeTop}" required="true" requiredMessage="#{bundle.CreateAdvertiseareaRequiredMessage_placeTop}"/>
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_settingDate}" for="settingDate" />
                    <h:inputText id="settingDate" value="#{advertiseareaController.selected.settingDate}" title="#{bundle.CreateAdvertiseareaTitle_settingDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_startDate}" for="startDate" />
                    <h:inputText id="startDate" value="#{advertiseareaController.selected.startDate}" title="#{bundle.CreateAdvertiseareaTitle_startDate}" required="true" requiredMessage="#{bundle.CreateAdvertiseareaRequiredMessage_startDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_endDate}" for="endDate" />
                    <h:inputText id="endDate" value="#{advertiseareaController.selected.endDate}" title="#{bundle.CreateAdvertiseareaTitle_endDate}" required="true" requiredMessage="#{bundle.CreateAdvertiseareaRequiredMessage_endDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_status}" for="status" />
                    <h:inputText id="status" value="#{advertiseareaController.selected.status}" title="#{bundle.CreateAdvertiseareaTitle_status}" required="true" requiredMessage="#{bundle.CreateAdvertiseareaRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateAdvertiseareaLabel_userid}" for="userid" />
                    <h:selectOneMenu id="userid" value="#{advertiseareaController.selected.userid}" title="#{bundle.CreateAdvertiseareaTitle_userid}" required="true" requiredMessage="#{bundle.CreateAdvertiseareaRequiredMessage_userid}">
                        <f:selectItems value="#{parkuserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{advertiseareaController.create}" value="#{bundle.CreateAdvertiseareaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{advertiseareaController.prepareList}" value="#{bundle.CreateAdvertiseareaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAdvertiseareaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
