<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAdvertiseareaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_adsareaid}" for="adsareaid" />
                    <h:inputText id="adsareaid" value="#{advertiseareaController.selected.adsareaid}" title="#{bundle.EditAdvertiseareaTitle_adsareaid}" required="true" requiredMessage="#{bundle.EditAdvertiseareaRequiredMessage_adsareaid}"/>
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_parkareaid}" for="parkareaid" />
                    <h:inputText id="parkareaid" value="#{advertiseareaController.selected.parkareaid}" title="#{bundle.EditAdvertiseareaTitle_parkareaid}" required="true" requiredMessage="#{bundle.EditAdvertiseareaRequiredMessage_parkareaid}"/>
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_titleBold}" for="titleBold" />
                    <h:inputText id="titleBold" value="#{advertiseareaController.selected.titleBold}" title="#{bundle.EditAdvertiseareaTitle_titleBold}" required="true" requiredMessage="#{bundle.EditAdvertiseareaRequiredMessage_titleBold}"/>
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_background}" for="background" />
                    <h:inputText id="background" value="#{advertiseareaController.selected.background}" title="#{bundle.EditAdvertiseareaTitle_background}" required="true" requiredMessage="#{bundle.EditAdvertiseareaRequiredMessage_background}"/>
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_markerBig}" for="markerBig" />
                    <h:inputText id="markerBig" value="#{advertiseareaController.selected.markerBig}" title="#{bundle.EditAdvertiseareaTitle_markerBig}" required="true" requiredMessage="#{bundle.EditAdvertiseareaRequiredMessage_markerBig}"/>
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_placeTop}" for="placeTop" />
                    <h:inputText id="placeTop" value="#{advertiseareaController.selected.placeTop}" title="#{bundle.EditAdvertiseareaTitle_placeTop}" required="true" requiredMessage="#{bundle.EditAdvertiseareaRequiredMessage_placeTop}"/>
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_settingDate}" for="settingDate" />
                    <h:inputText id="settingDate" value="#{advertiseareaController.selected.settingDate}" title="#{bundle.EditAdvertiseareaTitle_settingDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_startDate}" for="startDate" />
                    <h:inputText id="startDate" value="#{advertiseareaController.selected.startDate}" title="#{bundle.EditAdvertiseareaTitle_startDate}" required="true" requiredMessage="#{bundle.EditAdvertiseareaRequiredMessage_startDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_endDate}" for="endDate" />
                    <h:inputText id="endDate" value="#{advertiseareaController.selected.endDate}" title="#{bundle.EditAdvertiseareaTitle_endDate}" required="true" requiredMessage="#{bundle.EditAdvertiseareaRequiredMessage_endDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_status}" for="status" />
                    <h:inputText id="status" value="#{advertiseareaController.selected.status}" title="#{bundle.EditAdvertiseareaTitle_status}" required="true" requiredMessage="#{bundle.EditAdvertiseareaRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditAdvertiseareaLabel_userid}" for="userid" />
                    <h:selectOneMenu id="userid" value="#{advertiseareaController.selected.userid}" title="#{bundle.EditAdvertiseareaTitle_userid}" required="true" requiredMessage="#{bundle.EditAdvertiseareaRequiredMessage_userid}">
                        <f:selectItems value="#{parkuserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{advertiseareaController.update}" value="#{bundle.EditAdvertiseareaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAdvertiseareaViewLink}"/>
                <br />
                <h:commandLink action="#{advertiseareaController.prepareList}" value="#{bundle.EditAdvertiseareaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAdvertiseareaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
