<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAdvertiseareaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAdvertiseareaEmpty}" rendered="#{advertiseareaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{advertiseareaController.items.rowCount > 0}">
                    <h:outputText value="#{advertiseareaController.pagination.pageFirstItem + 1}..#{advertiseareaController.pagination.pageLastItem + 1}/#{advertiseareaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{advertiseareaController.previous}" value="#{bundle.Previous} #{advertiseareaController.pagination.pageSize}" rendered="#{advertiseareaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{advertiseareaController.next}" value="#{bundle.Next} #{advertiseareaController.pagination.pageSize}" rendered="#{advertiseareaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{advertiseareaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_adsareaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.adsareaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_parkareaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkareaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_titleBold}"/>
                            </f:facet>
                            <h:outputText value="#{item.titleBold}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_background}"/>
                            </f:facet>
                            <h:outputText value="#{item.background}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_markerBig}"/>
                            </f:facet>
                            <h:outputText value="#{item.markerBig}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_placeTop}"/>
                            </f:facet>
                            <h:outputText value="#{item.placeTop}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_settingDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.settingDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_startDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.startDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_endDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.endDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdvertiseareaTitle_userid}"/>
                            </f:facet>
                            <h:outputText value="#{item.userid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{advertiseareaController.prepareView}" value="#{bundle.ListAdvertiseareaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{advertiseareaController.prepareEdit}" value="#{bundle.ListAdvertiseareaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{advertiseareaController.destroy}" value="#{bundle.ListAdvertiseareaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{advertiseareaController.prepareCreate}" value="#{bundle.ListAdvertiseareaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAdvertiseareaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
