<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAdvertiseareaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_adsareaid}"/>
                    <h:outputText value="#{advertiseareaController.selected.adsareaid}" title="#{bundle.ViewAdvertiseareaTitle_adsareaid}"/>
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_parkareaid}"/>
                    <h:outputText value="#{advertiseareaController.selected.parkareaid}" title="#{bundle.ViewAdvertiseareaTitle_parkareaid}"/>
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_titleBold}"/>
                    <h:outputText value="#{advertiseareaController.selected.titleBold}" title="#{bundle.ViewAdvertiseareaTitle_titleBold}"/>
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_background}"/>
                    <h:outputText value="#{advertiseareaController.selected.background}" title="#{bundle.ViewAdvertiseareaTitle_background}"/>
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_markerBig}"/>
                    <h:outputText value="#{advertiseareaController.selected.markerBig}" title="#{bundle.ViewAdvertiseareaTitle_markerBig}"/>
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_placeTop}"/>
                    <h:outputText value="#{advertiseareaController.selected.placeTop}" title="#{bundle.ViewAdvertiseareaTitle_placeTop}"/>
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_settingDate}"/>
                    <h:outputText value="#{advertiseareaController.selected.settingDate}" title="#{bundle.ViewAdvertiseareaTitle_settingDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_startDate}"/>
                    <h:outputText value="#{advertiseareaController.selected.startDate}" title="#{bundle.ViewAdvertiseareaTitle_startDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_endDate}"/>
                    <h:outputText value="#{advertiseareaController.selected.endDate}" title="#{bundle.ViewAdvertiseareaTitle_endDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_status}"/>
                    <h:outputText value="#{advertiseareaController.selected.status}" title="#{bundle.ViewAdvertiseareaTitle_status}"/>
                    <h:outputText value="#{bundle.ViewAdvertiseareaLabel_userid}"/>
                    <h:outputText value="#{advertiseareaController.selected.userid}" title="#{bundle.ViewAdvertiseareaTitle_userid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{advertiseareaController.destroyAndView}" value="#{bundle.ViewAdvertiseareaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAdvertiseareaEditLink}"/>
                <br />
                <h:commandLink action="#{advertiseareaController.prepareCreate}" value="#{bundle.ViewAdvertiseareaCreateLink}" />
                <br />
                <h:commandLink action="#{advertiseareaController.prepareList}" value="#{bundle.ViewAdvertiseareaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAdvertiseareaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
