<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUservoteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUservoteLabel_voteid}" for="voteid" />
                    <h:inputText id="voteid" value="#{uservoteController.selected.voteid}" title="#{bundle.EditUservoteTitle_voteid}" required="true" requiredMessage="#{bundle.EditUservoteRequiredMessage_voteid}"/>
                    <h:outputLabel value="#{bundle.EditUservoteLabel_useremail}" for="useremail" />
                    <h:inputText id="useremail" value="#{uservoteController.selected.useremail}" title="#{bundle.EditUservoteTitle_useremail}" required="true" requiredMessage="#{bundle.EditUservoteRequiredMessage_useremail}"/>
                    <h:outputLabel value="#{bundle.EditUservoteLabel_datum}" for="datum" />
                    <h:inputText id="datum" value="#{uservoteController.selected.datum}" title="#{bundle.EditUservoteTitle_datum}" required="true" requiredMessage="#{bundle.EditUservoteRequiredMessage_datum}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditUservoteLabel_proposalid}" for="proposalid" />
                    <h:selectOneMenu id="proposalid" value="#{uservoteController.selected.proposalid}" title="#{bundle.EditUservoteTitle_proposalid}" required="true" requiredMessage="#{bundle.EditUservoteRequiredMessage_proposalid}">
                        <f:selectItems value="#{proposalController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{uservoteController.update}" value="#{bundle.EditUservoteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUservoteViewLink}"/>
                <br />
                <h:commandLink action="#{uservoteController.prepareList}" value="#{bundle.EditUservoteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUservoteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
