<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListUservoteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListUservoteEmpty}" rendered="#{uservoteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{uservoteController.items.rowCount > 0}">
                    <h:outputText value="#{uservoteController.pagination.pageFirstItem + 1}..#{uservoteController.pagination.pageLastItem + 1}/#{uservoteController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{uservoteController.previous}" value="#{bundle.Previous} #{uservoteController.pagination.pageSize}" rendered="#{uservoteController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{uservoteController.next}" value="#{bundle.Next} #{uservoteController.pagination.pageSize}" rendered="#{uservoteController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{uservoteController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservoteTitle_voteid}"/>
                            </f:facet>
                            <h:outputText value="#{item.voteid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservoteTitle_useremail}"/>
                            </f:facet>
                            <h:outputText value="#{item.useremail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservoteTitle_datum}"/>
                            </f:facet>
                            <h:outputText value="#{item.datum}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservoteTitle_proposalid}"/>
                            </f:facet>
                            <h:outputText value="#{item.proposalid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{uservoteController.prepareView}" value="#{bundle.ListUservoteViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{uservoteController.prepareEdit}" value="#{bundle.ListUservoteEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{uservoteController.destroy}" value="#{bundle.ListUservoteDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{uservoteController.prepareCreate}" value="#{bundle.ListUservoteCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListUservoteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
