<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewUservoteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUservoteLabel_voteid}"/>
                    <h:outputText value="#{uservoteController.selected.voteid}" title="#{bundle.ViewUservoteTitle_voteid}"/>
                    <h:outputText value="#{bundle.ViewUservoteLabel_useremail}"/>
                    <h:outputText value="#{uservoteController.selected.useremail}" title="#{bundle.ViewUservoteTitle_useremail}"/>
                    <h:outputText value="#{bundle.ViewUservoteLabel_datum}"/>
                    <h:outputText value="#{uservoteController.selected.datum}" title="#{bundle.ViewUservoteTitle_datum}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewUservoteLabel_proposalid}"/>
                    <h:outputText value="#{uservoteController.selected.proposalid}" title="#{bundle.ViewUservoteTitle_proposalid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{uservoteController.destroyAndView}" value="#{bundle.ViewUservoteDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewUservoteEditLink}"/>
                <br />
                <h:commandLink action="#{uservoteController.prepareCreate}" value="#{bundle.ViewUservoteCreateLink}" />
                <br />
                <h:commandLink action="#{uservoteController.prepareList}" value="#{bundle.ViewUservoteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewUservoteIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
