<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateUserroleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateUserroleLabel_roleid}" for="roleid" />
                    <h:inputText id="roleid" value="#{userroleController.selected.roleid}" title="#{bundle.CreateUserroleTitle_roleid}" required="true" requiredMessage="#{bundle.CreateUserroleRequiredMessage_roleid}"/>
                    <h:outputLabel value="#{bundle.CreateUserroleLabel_userrole}" for="userrole" />
                    <h:inputText id="userrole" value="#{userroleController.selected.userrole}" title="#{bundle.CreateUserroleTitle_userrole}" required="true" requiredMessage="#{bundle.CreateUserroleRequiredMessage_userrole}"/>
                    <h:outputLabel value="#{bundle.CreateUserroleLabel_userid}" for="userid" />
                    <h:selectOneMenu id="userid" value="#{userroleController.selected.userid}" title="#{bundle.CreateUserroleTitle_userid}" required="true" requiredMessage="#{bundle.CreateUserroleRequiredMessage_userid}">
                        <f:selectItems value="#{parkuserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{userroleController.create}" value="#{bundle.CreateUserroleSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{userroleController.prepareList}" value="#{bundle.CreateUserroleShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateUserroleIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
