<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAreacontactTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_areacontactid}" for="areacontactid" />
                    <h:inputText id="areacontactid" value="#{areacontactController.selected.areacontactid}" title="#{bundle.EditAreacontactTitle_areacontactid}" required="true" requiredMessage="#{bundle.EditAreacontactRequiredMessage_areacontactid}"/>
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_name}" for="name" />
                    <h:inputText id="name" value="#{areacontactController.selected.name}" title="#{bundle.EditAreacontactTitle_name}" />
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_street}" for="street" />
                    <h:inputText id="street" value="#{areacontactController.selected.street}" title="#{bundle.EditAreacontactTitle_street}" />
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_zipcode}" for="zipcode" />
                    <h:inputText id="zipcode" value="#{areacontactController.selected.zipcode}" title="#{bundle.EditAreacontactTitle_zipcode}" />
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_city}" for="city" />
                    <h:inputText id="city" value="#{areacontactController.selected.city}" title="#{bundle.EditAreacontactTitle_city}" />
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_country}" for="country" />
                    <h:inputText id="country" value="#{areacontactController.selected.country}" title="#{bundle.EditAreacontactTitle_country}" />
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_email}" for="email" />
                    <h:inputText id="email" value="#{areacontactController.selected.email}" title="#{bundle.EditAreacontactTitle_email}" />
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{areacontactController.selected.phone}" title="#{bundle.EditAreacontactTitle_phone}" />
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_mobile}" for="mobile" />
                    <h:inputText id="mobile" value="#{areacontactController.selected.mobile}" title="#{bundle.EditAreacontactTitle_mobile}" />
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_fax}" for="fax" />
                    <h:inputText id="fax" value="#{areacontactController.selected.fax}" title="#{bundle.EditAreacontactTitle_fax}" />
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_status}" for="status" />
                    <h:inputText id="status" value="#{areacontactController.selected.status}" title="#{bundle.EditAreacontactTitle_status}" required="true" requiredMessage="#{bundle.EditAreacontactRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_telefonclick}" for="telefonclick" />
                    <h:inputText id="telefonclick" value="#{areacontactController.selected.telefonclick}" title="#{bundle.EditAreacontactTitle_telefonclick}" required="true" requiredMessage="#{bundle.EditAreacontactRequiredMessage_telefonclick}"/>
                    <h:outputLabel value="#{bundle.EditAreacontactLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{areacontactController.selected.parkareaid}" title="#{bundle.EditAreacontactTitle_parkareaid}" required="true" requiredMessage="#{bundle.EditAreacontactRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{areacontactController.update}" value="#{bundle.EditAreacontactSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAreacontactViewLink}"/>
                <br />
                <h:commandLink action="#{areacontactController.prepareList}" value="#{bundle.EditAreacontactShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAreacontactIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
