<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewBookingLockingDaysTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewBookingLockingDaysLabel_lockingdaysid}"/>
                    <h:outputText value="#{bookingLockingDaysController.selected.lockingdaysid}" title="#{bundle.ViewBookingLockingDaysTitle_lockingdaysid}"/>
                    <h:outputText value="#{bundle.ViewBookingLockingDaysLabel_fromDate}"/>
                    <h:outputText value="#{bookingLockingDaysController.selected.fromDate}" title="#{bundle.ViewBookingLockingDaysTitle_fromDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewBookingLockingDaysLabel_tillDate}"/>
                    <h:outputText value="#{bookingLockingDaysController.selected.tillDate}" title="#{bundle.ViewBookingLockingDaysTitle_tillDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewBookingLockingDaysLabel_status}"/>
                    <h:outputText value="#{bookingLockingDaysController.selected.status}" title="#{bundle.ViewBookingLockingDaysTitle_status}"/>
                    <h:outputText value="#{bundle.ViewBookingLockingDaysLabel_parkareaid}"/>
                    <h:outputText value="#{bookingLockingDaysController.selected.parkareaid}" title="#{bundle.ViewBookingLockingDaysTitle_parkareaid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{bookingLockingDaysController.destroyAndView}" value="#{bundle.ViewBookingLockingDaysDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewBookingLockingDaysEditLink}"/>
                <br />
                <h:commandLink action="#{bookingLockingDaysController.prepareCreate}" value="#{bundle.ViewBookingLockingDaysCreateLink}" />
                <br />
                <h:commandLink action="#{bookingLockingDaysController.prepareList}" value="#{bundle.ViewBookingLockingDaysShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewBookingLockingDaysIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
