<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCarparkfacility1Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCarparkfacility1Label_cpfacility1id}" for="cpfacility1id" />
                    <h:inputText id="cpfacility1id" value="#{carparkfacility1Controller.selected.cpfacility1id}" title="#{bundle.CreateCarparkfacility1Title_cpfacility1id}" required="true" requiredMessage="#{bundle.CreateCarparkfacility1RequiredMessage_cpfacility1id}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkfacility1Label_facility}" for="facility" />
                    <h:inputText id="facility" value="#{carparkfacility1Controller.selected.facility}" title="#{bundle.CreateCarparkfacility1Title_facility}" required="true" requiredMessage="#{bundle.CreateCarparkfacility1RequiredMessage_facility}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkfacility1Label_status}" for="status" />
                    <h:inputText id="status" value="#{carparkfacility1Controller.selected.status}" title="#{bundle.CreateCarparkfacility1Title_status}" required="true" requiredMessage="#{bundle.CreateCarparkfacility1RequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkfacility1Label_parkhausid}" for="parkhausid" />
                    <h:selectOneMenu id="parkhausid" value="#{carparkfacility1Controller.selected.parkhausid}" title="#{bundle.CreateCarparkfacility1Title_parkhausid}" required="true" requiredMessage="#{bundle.CreateCarparkfacility1RequiredMessage_parkhausid}">
                        <f:selectItems value="#{parkhausController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{carparkfacility1Controller.create}" value="#{bundle.CreateCarparkfacility1SaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{carparkfacility1Controller.prepareList}" value="#{bundle.CreateCarparkfacility1ShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCarparkfacility1IndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
