<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCarparkfacility1Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCarparkfacility1Empty}" rendered="#{carparkfacility1Controller.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{carparkfacility1Controller.items.rowCount > 0}">
                    <h:outputText value="#{carparkfacility1Controller.pagination.pageFirstItem + 1}..#{carparkfacility1Controller.pagination.pageLastItem + 1}/#{carparkfacility1Controller.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{carparkfacility1Controller.previous}" value="#{bundle.Previous} #{carparkfacility1Controller.pagination.pageSize}" rendered="#{carparkfacility1Controller.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{carparkfacility1Controller.next}" value="#{bundle.Next} #{carparkfacility1Controller.pagination.pageSize}" rendered="#{carparkfacility1Controller.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{carparkfacility1Controller.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkfacility1Title_cpfacility1id}"/>
                            </f:facet>
                            <h:outputText value="#{item.cpfacility1id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkfacility1Title_facility}"/>
                            </f:facet>
                            <h:outputText value="#{item.facility}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkfacility1Title_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkfacility1Title_parkhausid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkhausid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{carparkfacility1Controller.prepareView}" value="#{bundle.ListCarparkfacility1ViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{carparkfacility1Controller.prepareEdit}" value="#{bundle.ListCarparkfacility1EditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{carparkfacility1Controller.destroy}" value="#{bundle.ListCarparkfacility1DestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{carparkfacility1Controller.prepareCreate}" value="#{bundle.ListCarparkfacility1CreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCarparkfacility1IndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
