<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAirportpricingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAirportpricingLabel_pricingid}" for="pricingid" />
                    <h:inputText id="pricingid" value="#{airportpricingController.selected.pricingid}" title="#{bundle.CreateAirportpricingTitle_pricingid}" required="true" requiredMessage="#{bundle.CreateAirportpricingRequiredMessage_pricingid}"/>
                    <h:outputLabel value="#{bundle.CreateAirportpricingLabel_status}" for="status" />
                    <h:inputText id="status" value="#{airportpricingController.selected.status}" title="#{bundle.CreateAirportpricingTitle_status}" required="true" requiredMessage="#{bundle.CreateAirportpricingRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateAirportpricingLabel_month}" for="month" />
                    <h:inputText id="month" value="#{airportpricingController.selected.month}" title="#{bundle.CreateAirportpricingTitle_month}" />
                    <h:outputLabel value="#{bundle.CreateAirportpricingLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{airportpricingController.selected.parkareaid}" title="#{bundle.CreateAirportpricingTitle_parkareaid}" required="true" requiredMessage="#{bundle.CreateAirportpricingRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{airportpricingController.create}" value="#{bundle.CreateAirportpricingSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{airportpricingController.prepareList}" value="#{bundle.CreateAirportpricingShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAirportpricingIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
