<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCarparkoperatorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_carparkid}" for="carparkid" />
                    <h:inputText id="carparkid" value="#{carparkoperatorController.selected.carparkid}" title="#{bundle.EditCarparkoperatorTitle_carparkid}" required="true" requiredMessage="#{bundle.EditCarparkoperatorRequiredMessage_carparkid}"/>
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_name}" for="name" />
                    <h:inputText id="name" value="#{carparkoperatorController.selected.name}" title="#{bundle.EditCarparkoperatorTitle_name}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_street}" for="street" />
                    <h:inputText id="street" value="#{carparkoperatorController.selected.street}" title="#{bundle.EditCarparkoperatorTitle_street}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_zipcode}" for="zipcode" />
                    <h:inputText id="zipcode" value="#{carparkoperatorController.selected.zipcode}" title="#{bundle.EditCarparkoperatorTitle_zipcode}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_city}" for="city" />
                    <h:inputText id="city" value="#{carparkoperatorController.selected.city}" title="#{bundle.EditCarparkoperatorTitle_city}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_country}" for="country" />
                    <h:inputText id="country" value="#{carparkoperatorController.selected.country}" title="#{bundle.EditCarparkoperatorTitle_country}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_email}" for="email" />
                    <h:inputText id="email" value="#{carparkoperatorController.selected.email}" title="#{bundle.EditCarparkoperatorTitle_email}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{carparkoperatorController.selected.phone}" title="#{bundle.EditCarparkoperatorTitle_phone}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_mobile}" for="mobile" />
                    <h:inputText id="mobile" value="#{carparkoperatorController.selected.mobile}" title="#{bundle.EditCarparkoperatorTitle_mobile}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_fax}" for="fax" />
                    <h:inputText id="fax" value="#{carparkoperatorController.selected.fax}" title="#{bundle.EditCarparkoperatorTitle_fax}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_description}" for="description" />
                    <h:inputText id="description" value="#{carparkoperatorController.selected.description}" title="#{bundle.EditCarparkoperatorTitle_description}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_bankaccountholder}" for="bankaccountholder" />
                    <h:inputText id="bankaccountholder" value="#{carparkoperatorController.selected.bankaccountholder}" title="#{bundle.EditCarparkoperatorTitle_bankaccountholder}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_iban}" for="iban" />
                    <h:inputText id="iban" value="#{carparkoperatorController.selected.iban}" title="#{bundle.EditCarparkoperatorTitle_iban}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_bic}" for="bic" />
                    <h:inputText id="bic" value="#{carparkoperatorController.selected.bic}" title="#{bundle.EditCarparkoperatorTitle_bic}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_status}" for="status" />
                    <h:inputText id="status" value="#{carparkoperatorController.selected.status}" title="#{bundle.EditCarparkoperatorTitle_status}" required="true" requiredMessage="#{bundle.EditCarparkoperatorRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_agb}" for="agb" />
                    <h:inputText id="agb" value="#{carparkoperatorController.selected.agb}" title="#{bundle.EditCarparkoperatorTitle_agb}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_ustIdnr}" for="ustIdnr" />
                    <h:inputText id="ustIdnr" value="#{carparkoperatorController.selected.ustIdnr}" title="#{bundle.EditCarparkoperatorTitle_ustIdnr}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_logo1}" for="logo1" />
                    <h:inputText id="logo1" value="#{carparkoperatorController.selected.logo1}" title="#{bundle.EditCarparkoperatorTitle_logo1}" />
                    <h:outputLabel value="#{bundle.EditCarparkoperatorLabel_leadtime}" for="leadtime" />
                    <h:inputText id="leadtime" value="#{carparkoperatorController.selected.leadtime}" title="#{bundle.EditCarparkoperatorTitle_leadtime}" />
                </h:panelGrid>
                <h:commandLink action="#{carparkoperatorController.update}" value="#{bundle.EditCarparkoperatorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCarparkoperatorViewLink}"/>
                <br />
                <h:commandLink action="#{carparkoperatorController.prepareList}" value="#{bundle.EditCarparkoperatorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCarparkoperatorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
