<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAreafacilityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAreafacilityLabel_facilityid}" for="facilityid" />
                    <h:inputText id="facilityid" value="#{areafacilityController.selected.facilityid}" title="#{bundle.CreateAreafacilityTitle_facilityid}" required="true" requiredMessage="#{bundle.CreateAreafacilityRequiredMessage_facilityid}"/>
                    <h:outputLabel value="#{bundle.CreateAreafacilityLabel_facility}" for="facility" />
                    <h:inputText id="facility" value="#{areafacilityController.selected.facility}" title="#{bundle.CreateAreafacilityTitle_facility}" required="true" requiredMessage="#{bundle.CreateAreafacilityRequiredMessage_facility}"/>
                    <h:outputLabel value="#{bundle.CreateAreafacilityLabel_status}" for="status" />
                    <h:inputText id="status" value="#{areafacilityController.selected.status}" title="#{bundle.CreateAreafacilityTitle_status}" />
                    <h:outputLabel value="#{bundle.CreateAreafacilityLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{areafacilityController.selected.parkareaid}" title="#{bundle.CreateAreafacilityTitle_parkareaid}" required="true" requiredMessage="#{bundle.CreateAreafacilityRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{areafacilityController.create}" value="#{bundle.CreateAreafacilitySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{areafacilityController.prepareList}" value="#{bundle.CreateAreafacilityShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAreafacilityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
