<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAreafacilityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAreafacilityEmpty}" rendered="#{areafacilityController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{areafacilityController.items.rowCount > 0}">
                    <h:outputText value="#{areafacilityController.pagination.pageFirstItem + 1}..#{areafacilityController.pagination.pageLastItem + 1}/#{areafacilityController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{areafacilityController.previous}" value="#{bundle.Previous} #{areafacilityController.pagination.pageSize}" rendered="#{areafacilityController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{areafacilityController.next}" value="#{bundle.Next} #{areafacilityController.pagination.pageSize}" rendered="#{areafacilityController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{areafacilityController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreafacilityTitle_facilityid}"/>
                            </f:facet>
                            <h:outputText value="#{item.facilityid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreafacilityTitle_facility}"/>
                            </f:facet>
                            <h:outputText value="#{item.facility}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreafacilityTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAreafacilityTitle_parkareaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkareaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{areafacilityController.prepareView}" value="#{bundle.ListAreafacilityViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{areafacilityController.prepareEdit}" value="#{bundle.ListAreafacilityEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{areafacilityController.destroy}" value="#{bundle.ListAreafacilityDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{areafacilityController.prepareCreate}" value="#{bundle.ListAreafacilityCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAreafacilityIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
