<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAreafacilityTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAreafacilityLabel_facilityid}"/>
                    <h:outputText value="#{areafacilityController.selected.facilityid}" title="#{bundle.ViewAreafacilityTitle_facilityid}"/>
                    <h:outputText value="#{bundle.ViewAreafacilityLabel_facility}"/>
                    <h:outputText value="#{areafacilityController.selected.facility}" title="#{bundle.ViewAreafacilityTitle_facility}"/>
                    <h:outputText value="#{bundle.ViewAreafacilityLabel_status}"/>
                    <h:outputText value="#{areafacilityController.selected.status}" title="#{bundle.ViewAreafacilityTitle_status}"/>
                    <h:outputText value="#{bundle.ViewAreafacilityLabel_parkareaid}"/>
                    <h:outputText value="#{areafacilityController.selected.parkareaid}" title="#{bundle.ViewAreafacilityTitle_parkareaid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{areafacilityController.destroyAndView}" value="#{bundle.ViewAreafacilityDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAreafacilityEditLink}"/>
                <br />
                <h:commandLink action="#{areafacilityController.prepareCreate}" value="#{bundle.ViewAreafacilityCreateLink}" />
                <br />
                <h:commandLink action="#{areafacilityController.prepareList}" value="#{bundle.ViewAreafacilityShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAreafacilityIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
