<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateBookedRatesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateBookedRatesLabel_amount}" for="amount" />
                    <h:inputText id="amount" value="#{bookedRatesController.selected.amount}" title="#{bundle.CreateBookedRatesTitle_amount}" required="true" requiredMessage="#{bundle.CreateBookedRatesRequiredMessage_amount}"/>
                    <h:outputLabel value="#{bundle.CreateBookedRatesLabel_price}" for="price" />
                    <h:inputText id="price" value="#{bookedRatesController.selected.price}" title="#{bundle.CreateBookedRatesTitle_price}" required="true" requiredMessage="#{bundle.CreateBookedRatesRequiredMessage_price}"/>
                    <h:outputLabel value="#{bundle.CreateBookedRatesLabel_startDate}" for="startDate" />
                    <h:inputText id="startDate" value="#{bookedRatesController.selected.startDate}" title="#{bundle.CreateBookedRatesTitle_startDate}" required="true" requiredMessage="#{bundle.CreateBookedRatesRequiredMessage_startDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateBookedRatesLabel_longtermparkingrate}" for="longtermparkingrate" />
                    <h:selectOneMenu id="longtermparkingrate" value="#{bookedRatesController.selected.longtermparkingrate}" title="#{bundle.CreateBookedRatesTitle_longtermparkingrate}" required="true" requiredMessage="#{bundle.CreateBookedRatesRequiredMessage_longtermparkingrate}">
                        <f:selectItems value="#{longtermparkingrateController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateBookedRatesLabel_carparkbooking}" for="carparkbooking" />
                    <h:selectOneMenu id="carparkbooking" value="#{bookedRatesController.selected.carparkbooking}" title="#{bundle.CreateBookedRatesTitle_carparkbooking}" required="true" requiredMessage="#{bundle.CreateBookedRatesRequiredMessage_carparkbooking}">
                        <f:selectItems value="#{carparkbookingController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{bookedRatesController.create}" value="#{bundle.CreateBookedRatesSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{bookedRatesController.prepareList}" value="#{bundle.CreateBookedRatesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateBookedRatesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
