<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUservehicleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUservehicleLabel_vehicleid}" for="vehicleid" />
                    <h:inputText id="vehicleid" value="#{uservehicleController.selected.vehicleid}" title="#{bundle.EditUservehicleTitle_vehicleid}" required="true" requiredMessage="#{bundle.EditUservehicleRequiredMessage_vehicleid}"/>
                    <h:outputLabel value="#{bundle.EditUservehicleLabel_vehicletype}" for="vehicletype" />
                    <h:inputText id="vehicletype" value="#{uservehicleController.selected.vehicletype}" title="#{bundle.EditUservehicleTitle_vehicletype}" />
                    <h:outputLabel value="#{bundle.EditUservehicleLabel_maker}" for="maker" />
                    <h:inputText id="maker" value="#{uservehicleController.selected.maker}" title="#{bundle.EditUservehicleTitle_maker}" />
                    <h:outputLabel value="#{bundle.EditUservehicleLabel_model}" for="model" />
                    <h:inputText id="model" value="#{uservehicleController.selected.model}" title="#{bundle.EditUservehicleTitle_model}" />
                    <h:outputLabel value="#{bundle.EditUservehicleLabel_licence}" for="licence" />
                    <h:inputText id="licence" value="#{uservehicleController.selected.licence}" title="#{bundle.EditUservehicleTitle_licence}" />
                    <h:outputLabel value="#{bundle.EditUservehicleLabel_color}" for="color" />
                    <h:inputText id="color" value="#{uservehicleController.selected.color}" title="#{bundle.EditUservehicleTitle_color}" />
                    <h:outputLabel value="#{bundle.EditUservehicleLabel_status}" for="status" />
                    <h:inputText id="status" value="#{uservehicleController.selected.status}" title="#{bundle.EditUservehicleTitle_status}" required="true" requiredMessage="#{bundle.EditUservehicleRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditUservehicleLabel_userid}" for="userid" />
                    <h:selectOneMenu id="userid" value="#{uservehicleController.selected.userid}" title="#{bundle.EditUservehicleTitle_userid}" required="true" requiredMessage="#{bundle.EditUservehicleRequiredMessage_userid}">
                        <f:selectItems value="#{parkuserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{uservehicleController.update}" value="#{bundle.EditUservehicleSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUservehicleViewLink}"/>
                <br />
                <h:commandLink action="#{uservehicleController.prepareList}" value="#{bundle.EditUservehicleShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUservehicleIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
