<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListUservehicleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListUservehicleEmpty}" rendered="#{uservehicleController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{uservehicleController.items.rowCount > 0}">
                    <h:outputText value="#{uservehicleController.pagination.pageFirstItem + 1}..#{uservehicleController.pagination.pageLastItem + 1}/#{uservehicleController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{uservehicleController.previous}" value="#{bundle.Previous} #{uservehicleController.pagination.pageSize}" rendered="#{uservehicleController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{uservehicleController.next}" value="#{bundle.Next} #{uservehicleController.pagination.pageSize}" rendered="#{uservehicleController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{uservehicleController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservehicleTitle_vehicleid}"/>
                            </f:facet>
                            <h:outputText value="#{item.vehicleid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservehicleTitle_vehicletype}"/>
                            </f:facet>
                            <h:outputText value="#{item.vehicletype}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservehicleTitle_maker}"/>
                            </f:facet>
                            <h:outputText value="#{item.maker}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservehicleTitle_model}"/>
                            </f:facet>
                            <h:outputText value="#{item.model}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservehicleTitle_licence}"/>
                            </f:facet>
                            <h:outputText value="#{item.licence}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservehicleTitle_color}"/>
                            </f:facet>
                            <h:outputText value="#{item.color}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservehicleTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUservehicleTitle_userid}"/>
                            </f:facet>
                            <h:outputText value="#{item.userid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{uservehicleController.prepareView}" value="#{bundle.ListUservehicleViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{uservehicleController.prepareEdit}" value="#{bundle.ListUservehicleEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{uservehicleController.destroy}" value="#{bundle.ListUservehicleDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{uservehicleController.prepareCreate}" value="#{bundle.ListUservehicleCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListUservehicleIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
