<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditParkareaday1Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_pad1id}" for="pad1id" />
                    <h:inputText id="pad1id" value="#{parkareaday1Controller.selected.pad1id}" title="#{bundle.EditParkareaday1Title_pad1id}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_pad1id}"/>
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_areaday}" for="areaday" />
                    <h:inputText id="areaday" value="#{parkareaday1Controller.selected.areaday}" title="#{bundle.EditParkareaday1Title_areaday}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_areaday}"/>
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_fromtime}" for="fromtime" />
                    <h:inputText id="fromtime" value="#{parkareaday1Controller.selected.fromtime}" title="#{bundle.EditParkareaday1Title_fromtime}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_fromtime}"/>
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_tilltime}" for="tilltime" />
                    <h:inputText id="tilltime" value="#{parkareaday1Controller.selected.tilltime}" title="#{bundle.EditParkareaday1Title_tilltime}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_tilltime}"/>
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_dayofweek}" for="dayofweek" />
                    <h:inputText id="dayofweek" value="#{parkareaday1Controller.selected.dayofweek}" title="#{bundle.EditParkareaday1Title_dayofweek}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_dayofweek}"/>
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_status}" for="status" />
                    <h:inputText id="status" value="#{parkareaday1Controller.selected.status}" title="#{bundle.EditParkareaday1Title_status}" />
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_notice}" for="notice" />
                    <h:inputText id="notice" value="#{parkareaday1Controller.selected.notice}" title="#{bundle.EditParkareaday1Title_notice}" />
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_allday}" for="allday" />
                    <h:inputText id="allday" value="#{parkareaday1Controller.selected.allday}" title="#{bundle.EditParkareaday1Title_allday}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_allday}"/>
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_tilltime2}" for="tilltime2" />
                    <h:inputText id="tilltime2" value="#{parkareaday1Controller.selected.tilltime2}" title="#{bundle.EditParkareaday1Title_tilltime2}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_tilltime2}"/>
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_fromtime2}" for="fromtime2" />
                    <h:inputText id="fromtime2" value="#{parkareaday1Controller.selected.fromtime2}" title="#{bundle.EditParkareaday1Title_fromtime2}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_fromtime2}"/>
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_fromtime3}" for="fromtime3" />
                    <h:inputText id="fromtime3" value="#{parkareaday1Controller.selected.fromtime3}" title="#{bundle.EditParkareaday1Title_fromtime3}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_fromtime3}"/>
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_tilltime3}" for="tilltime3" />
                    <h:inputText id="tilltime3" value="#{parkareaday1Controller.selected.tilltime3}" title="#{bundle.EditParkareaday1Title_tilltime3}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_tilltime3}"/>
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_priceHour1}" for="priceHour1" />
                    <h:inputText id="priceHour1" value="#{parkareaday1Controller.selected.priceHour1}" title="#{bundle.EditParkareaday1Title_priceHour1}" />
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_priceHour2}" for="priceHour2" />
                    <h:inputText id="priceHour2" value="#{parkareaday1Controller.selected.priceHour2}" title="#{bundle.EditParkareaday1Title_priceHour2}" />
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_priceHour3}" for="priceHour3" />
                    <h:inputText id="priceHour3" value="#{parkareaday1Controller.selected.priceHour3}" title="#{bundle.EditParkareaday1Title_priceHour3}" />
                    <h:outputLabel value="#{bundle.EditParkareaday1Label_parkhausid}" for="parkhausid" />
                    <h:selectOneMenu id="parkhausid" value="#{parkareaday1Controller.selected.parkhausid}" title="#{bundle.EditParkareaday1Title_parkhausid}" required="true" requiredMessage="#{bundle.EditParkareaday1RequiredMessage_parkhausid}">
                        <f:selectItems value="#{parkhausController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{parkareaday1Controller.update}" value="#{bundle.EditParkareaday1SaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditParkareaday1ViewLink}"/>
                <br />
                <h:commandLink action="#{parkareaday1Controller.prepareList}" value="#{bundle.EditParkareaday1ShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditParkareaday1IndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
