<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListParkareaday1Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListParkareaday1Empty}" rendered="#{parkareaday1Controller.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{parkareaday1Controller.items.rowCount > 0}">
                    <h:outputText value="#{parkareaday1Controller.pagination.pageFirstItem + 1}..#{parkareaday1Controller.pagination.pageLastItem + 1}/#{parkareaday1Controller.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{parkareaday1Controller.previous}" value="#{bundle.Previous} #{parkareaday1Controller.pagination.pageSize}" rendered="#{parkareaday1Controller.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{parkareaday1Controller.next}" value="#{bundle.Next} #{parkareaday1Controller.pagination.pageSize}" rendered="#{parkareaday1Controller.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{parkareaday1Controller.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_pad1id}"/>
                            </f:facet>
                            <h:outputText value="#{item.pad1id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_areaday}"/>
                            </f:facet>
                            <h:outputText value="#{item.areaday}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_fromtime}"/>
                            </f:facet>
                            <h:outputText value="#{item.fromtime}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_tilltime}"/>
                            </f:facet>
                            <h:outputText value="#{item.tilltime}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_dayofweek}"/>
                            </f:facet>
                            <h:outputText value="#{item.dayofweek}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_notice}"/>
                            </f:facet>
                            <h:outputText value="#{item.notice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_allday}"/>
                            </f:facet>
                            <h:outputText value="#{item.allday}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_tilltime2}"/>
                            </f:facet>
                            <h:outputText value="#{item.tilltime2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_fromtime2}"/>
                            </f:facet>
                            <h:outputText value="#{item.fromtime2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_fromtime3}"/>
                            </f:facet>
                            <h:outputText value="#{item.fromtime3}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_tilltime3}"/>
                            </f:facet>
                            <h:outputText value="#{item.tilltime3}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_priceHour1}"/>
                            </f:facet>
                            <h:outputText value="#{item.priceHour1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_priceHour2}"/>
                            </f:facet>
                            <h:outputText value="#{item.priceHour2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_priceHour3}"/>
                            </f:facet>
                            <h:outputText value="#{item.priceHour3}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkareaday1Title_parkhausid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkhausid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{parkareaday1Controller.prepareView}" value="#{bundle.ListParkareaday1ViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{parkareaday1Controller.prepareEdit}" value="#{bundle.ListParkareaday1EditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{parkareaday1Controller.destroy}" value="#{bundle.ListParkareaday1DestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{parkareaday1Controller.prepareCreate}" value="#{bundle.ListParkareaday1CreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListParkareaday1IndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
