<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewParkareaday1Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewParkareaday1Label_pad1id}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.pad1id}" title="#{bundle.ViewParkareaday1Title_pad1id}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_areaday}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.areaday}" title="#{bundle.ViewParkareaday1Title_areaday}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_fromtime}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.fromtime}" title="#{bundle.ViewParkareaday1Title_fromtime}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_tilltime}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.tilltime}" title="#{bundle.ViewParkareaday1Title_tilltime}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_dayofweek}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.dayofweek}" title="#{bundle.ViewParkareaday1Title_dayofweek}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_status}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.status}" title="#{bundle.ViewParkareaday1Title_status}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_notice}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.notice}" title="#{bundle.ViewParkareaday1Title_notice}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_allday}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.allday}" title="#{bundle.ViewParkareaday1Title_allday}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_tilltime2}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.tilltime2}" title="#{bundle.ViewParkareaday1Title_tilltime2}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_fromtime2}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.fromtime2}" title="#{bundle.ViewParkareaday1Title_fromtime2}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_fromtime3}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.fromtime3}" title="#{bundle.ViewParkareaday1Title_fromtime3}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_tilltime3}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.tilltime3}" title="#{bundle.ViewParkareaday1Title_tilltime3}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_priceHour1}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.priceHour1}" title="#{bundle.ViewParkareaday1Title_priceHour1}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_priceHour2}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.priceHour2}" title="#{bundle.ViewParkareaday1Title_priceHour2}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_priceHour3}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.priceHour3}" title="#{bundle.ViewParkareaday1Title_priceHour3}"/>
                    <h:outputText value="#{bundle.ViewParkareaday1Label_parkhausid}"/>
                    <h:outputText value="#{parkareaday1Controller.selected.parkhausid}" title="#{bundle.ViewParkareaday1Title_parkhausid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{parkareaday1Controller.destroyAndView}" value="#{bundle.ViewParkareaday1DestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewParkareaday1EditLink}"/>
                <br />
                <h:commandLink action="#{parkareaday1Controller.prepareCreate}" value="#{bundle.ViewParkareaday1CreateLink}" />
                <br />
                <h:commandLink action="#{parkareaday1Controller.prepareList}" value="#{bundle.ViewParkareaday1ShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewParkareaday1IndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
