<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditParkareadayTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_padid}" for="padid" />
                    <h:inputText id="padid" value="#{parkareadayController.selected.padid}" title="#{bundle.EditParkareadayTitle_padid}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_padid}"/>
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_areaday}" for="areaday" />
                    <h:inputText id="areaday" value="#{parkareadayController.selected.areaday}" title="#{bundle.EditParkareadayTitle_areaday}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_areaday}"/>
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_fromtime}" for="fromtime" />
                    <h:inputText id="fromtime" value="#{parkareadayController.selected.fromtime}" title="#{bundle.EditParkareadayTitle_fromtime}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_fromtime}"/>
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_tilltime}" for="tilltime" />
                    <h:inputText id="tilltime" value="#{parkareadayController.selected.tilltime}" title="#{bundle.EditParkareadayTitle_tilltime}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_tilltime}"/>
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_dayofweek}" for="dayofweek" />
                    <h:inputText id="dayofweek" value="#{parkareadayController.selected.dayofweek}" title="#{bundle.EditParkareadayTitle_dayofweek}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_dayofweek}"/>
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_status}" for="status" />
                    <h:inputText id="status" value="#{parkareadayController.selected.status}" title="#{bundle.EditParkareadayTitle_status}" />
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_notice}" for="notice" />
                    <h:inputText id="notice" value="#{parkareadayController.selected.notice}" title="#{bundle.EditParkareadayTitle_notice}" />
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_allday}" for="allday" />
                    <h:inputText id="allday" value="#{parkareadayController.selected.allday}" title="#{bundle.EditParkareadayTitle_allday}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_allday}"/>
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_tilltime2}" for="tilltime2" />
                    <h:inputText id="tilltime2" value="#{parkareadayController.selected.tilltime2}" title="#{bundle.EditParkareadayTitle_tilltime2}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_tilltime2}"/>
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_fromtime2}" for="fromtime2" />
                    <h:inputText id="fromtime2" value="#{parkareadayController.selected.fromtime2}" title="#{bundle.EditParkareadayTitle_fromtime2}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_fromtime2}"/>
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_fromtime3}" for="fromtime3" />
                    <h:inputText id="fromtime3" value="#{parkareadayController.selected.fromtime3}" title="#{bundle.EditParkareadayTitle_fromtime3}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_fromtime3}"/>
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_tilltime3}" for="tilltime3" />
                    <h:inputText id="tilltime3" value="#{parkareadayController.selected.tilltime3}" title="#{bundle.EditParkareadayTitle_tilltime3}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_tilltime3}"/>
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_priceHour1}" for="priceHour1" />
                    <h:inputText id="priceHour1" value="#{parkareadayController.selected.priceHour1}" title="#{bundle.EditParkareadayTitle_priceHour1}" />
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_priceHour2}" for="priceHour2" />
                    <h:inputText id="priceHour2" value="#{parkareadayController.selected.priceHour2}" title="#{bundle.EditParkareadayTitle_priceHour2}" />
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_priceHour3}" for="priceHour3" />
                    <h:inputText id="priceHour3" value="#{parkareadayController.selected.priceHour3}" title="#{bundle.EditParkareadayTitle_priceHour3}" />
                    <h:outputLabel value="#{bundle.EditParkareadayLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{parkareadayController.selected.parkareaid}" title="#{bundle.EditParkareadayTitle_parkareaid}" required="true" requiredMessage="#{bundle.EditParkareadayRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{parkareadayController.update}" value="#{bundle.EditParkareadaySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditParkareadayViewLink}"/>
                <br />
                <h:commandLink action="#{parkareadayController.prepareList}" value="#{bundle.EditParkareadayShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditParkareadayIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
