<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewParkareadayTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewParkareadayLabel_padid}"/>
                    <h:outputText value="#{parkareadayController.selected.padid}" title="#{bundle.ViewParkareadayTitle_padid}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_areaday}"/>
                    <h:outputText value="#{parkareadayController.selected.areaday}" title="#{bundle.ViewParkareadayTitle_areaday}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_fromtime}"/>
                    <h:outputText value="#{parkareadayController.selected.fromtime}" title="#{bundle.ViewParkareadayTitle_fromtime}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_tilltime}"/>
                    <h:outputText value="#{parkareadayController.selected.tilltime}" title="#{bundle.ViewParkareadayTitle_tilltime}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_dayofweek}"/>
                    <h:outputText value="#{parkareadayController.selected.dayofweek}" title="#{bundle.ViewParkareadayTitle_dayofweek}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_status}"/>
                    <h:outputText value="#{parkareadayController.selected.status}" title="#{bundle.ViewParkareadayTitle_status}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_notice}"/>
                    <h:outputText value="#{parkareadayController.selected.notice}" title="#{bundle.ViewParkareadayTitle_notice}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_allday}"/>
                    <h:outputText value="#{parkareadayController.selected.allday}" title="#{bundle.ViewParkareadayTitle_allday}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_tilltime2}"/>
                    <h:outputText value="#{parkareadayController.selected.tilltime2}" title="#{bundle.ViewParkareadayTitle_tilltime2}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_fromtime2}"/>
                    <h:outputText value="#{parkareadayController.selected.fromtime2}" title="#{bundle.ViewParkareadayTitle_fromtime2}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_fromtime3}"/>
                    <h:outputText value="#{parkareadayController.selected.fromtime3}" title="#{bundle.ViewParkareadayTitle_fromtime3}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_tilltime3}"/>
                    <h:outputText value="#{parkareadayController.selected.tilltime3}" title="#{bundle.ViewParkareadayTitle_tilltime3}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_priceHour1}"/>
                    <h:outputText value="#{parkareadayController.selected.priceHour1}" title="#{bundle.ViewParkareadayTitle_priceHour1}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_priceHour2}"/>
                    <h:outputText value="#{parkareadayController.selected.priceHour2}" title="#{bundle.ViewParkareadayTitle_priceHour2}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_priceHour3}"/>
                    <h:outputText value="#{parkareadayController.selected.priceHour3}" title="#{bundle.ViewParkareadayTitle_priceHour3}"/>
                    <h:outputText value="#{bundle.ViewParkareadayLabel_parkareaid}"/>
                    <h:outputText value="#{parkareadayController.selected.parkareaid}" title="#{bundle.ViewParkareadayTitle_parkareaid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{parkareadayController.destroyAndView}" value="#{bundle.ViewParkareadayDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewParkareadayEditLink}"/>
                <br />
                <h:commandLink action="#{parkareadayController.prepareCreate}" value="#{bundle.ViewParkareadayCreateLink}" />
                <br />
                <h:commandLink action="#{parkareadayController.prepareList}" value="#{bundle.ViewParkareadayShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewParkareadayIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
