<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListParkuserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListParkuserEmpty}" rendered="#{parkuserController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{parkuserController.items.rowCount > 0}">
                    <h:outputText value="#{parkuserController.pagination.pageFirstItem + 1}..#{parkuserController.pagination.pageLastItem + 1}/#{parkuserController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{parkuserController.previous}" value="#{bundle.Previous} #{parkuserController.pagination.pageSize}" rendered="#{parkuserController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{parkuserController.next}" value="#{bundle.Next} #{parkuserController.pagination.pageSize}" rendered="#{parkuserController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{parkuserController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_userid}"/>
                            </f:facet>
                            <h:outputText value="#{item.userid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_lastname}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastname}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_forename}"/>
                            </f:facet>
                            <h:outputText value="#{item.forename}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_passwd}"/>
                            </f:facet>
                            <h:outputText value="#{item.passwd}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_registrationdate}"/>
                            </f:facet>
                            <h:outputText value="#{item.registrationdate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_ipadresse}"/>
                            </f:facet>
                            <h:outputText value="#{item.ipadresse}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_userstatus}"/>
                            </f:facet>
                            <h:outputText value="#{item.userstatus}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_nbrproposal}"/>
                            </f:facet>
                            <h:outputText value="#{item.nbrproposal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_impressum}"/>
                            </f:facet>
                            <h:outputText value="#{item.impressum}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_logo1}"/>
                            </f:facet>
                            <h:outputText value="#{item.logo1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_agb}"/>
                            </f:facet>
                            <h:outputText value="#{item.agb}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkuserTitle_operatorId}"/>
                            </f:facet>
                            <h:outputText value="#{item.operatorId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{parkuserController.prepareView}" value="#{bundle.ListParkuserViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{parkuserController.prepareEdit}" value="#{bundle.ListParkuserEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{parkuserController.destroy}" value="#{bundle.ListParkuserDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{parkuserController.prepareCreate}" value="#{bundle.ListParkuserCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListParkuserIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
