<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateBlogentryTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateBlogentryLabel_blogid}" for="blogid" />
                    <h:inputText id="blogid" value="#{blogentryController.selected.blogid}" title="#{bundle.CreateBlogentryTitle_blogid}" required="true" requiredMessage="#{bundle.CreateBlogentryRequiredMessage_blogid}"/>
                    <h:outputLabel value="#{bundle.CreateBlogentryLabel_title}" for="title" />
                    <h:inputText id="title" value="#{blogentryController.selected.title}" title="#{bundle.CreateBlogentryTitle_title}" />
                    <h:outputLabel value="#{bundle.CreateBlogentryLabel_content}" for="content" />
                    <h:inputText id="content" value="#{blogentryController.selected.content}" title="#{bundle.CreateBlogentryTitle_content}" />
                    <h:outputLabel value="#{bundle.CreateBlogentryLabel_created}" for="created" />
                    <h:inputText id="created" value="#{blogentryController.selected.created}" title="#{bundle.CreateBlogentryTitle_created}" required="true" requiredMessage="#{bundle.CreateBlogentryRequiredMessage_created}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateBlogentryLabel_status}" for="status" />
                    <h:inputText id="status" value="#{blogentryController.selected.status}" title="#{bundle.CreateBlogentryTitle_status}" required="true" requiredMessage="#{bundle.CreateBlogentryRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateBlogentryLabel_userid}" for="userid" />
                    <h:selectOneMenu id="userid" value="#{blogentryController.selected.userid}" title="#{bundle.CreateBlogentryTitle_userid}" required="true" requiredMessage="#{bundle.CreateBlogentryRequiredMessage_userid}">
                        <f:selectItems value="#{parkuserController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{blogentryController.create}" value="#{bundle.CreateBlogentrySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{blogentryController.prepareList}" value="#{bundle.CreateBlogentryShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateBlogentryIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
