<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListBlogentryTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListBlogentryEmpty}" rendered="#{blogentryController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{blogentryController.items.rowCount > 0}">
                    <h:outputText value="#{blogentryController.pagination.pageFirstItem + 1}..#{blogentryController.pagination.pageLastItem + 1}/#{blogentryController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{blogentryController.previous}" value="#{bundle.Previous} #{blogentryController.pagination.pageSize}" rendered="#{blogentryController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{blogentryController.next}" value="#{bundle.Next} #{blogentryController.pagination.pageSize}" rendered="#{blogentryController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{blogentryController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBlogentryTitle_blogid}"/>
                            </f:facet>
                            <h:outputText value="#{item.blogid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBlogentryTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBlogentryTitle_content}"/>
                            </f:facet>
                            <h:outputText value="#{item.content}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBlogentryTitle_created}"/>
                            </f:facet>
                            <h:outputText value="#{item.created}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBlogentryTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBlogentryTitle_userid}"/>
                            </f:facet>
                            <h:outputText value="#{item.userid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{blogentryController.prepareView}" value="#{bundle.ListBlogentryViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{blogentryController.prepareEdit}" value="#{bundle.ListBlogentryEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{blogentryController.destroy}" value="#{bundle.ListBlogentryDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{blogentryController.prepareCreate}" value="#{bundle.ListBlogentryCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListBlogentryIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
