<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewBlogentryTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewBlogentryLabel_blogid}"/>
                    <h:outputText value="#{blogentryController.selected.blogid}" title="#{bundle.ViewBlogentryTitle_blogid}"/>
                    <h:outputText value="#{bundle.ViewBlogentryLabel_title}"/>
                    <h:outputText value="#{blogentryController.selected.title}" title="#{bundle.ViewBlogentryTitle_title}"/>
                    <h:outputText value="#{bundle.ViewBlogentryLabel_content}"/>
                    <h:outputText value="#{blogentryController.selected.content}" title="#{bundle.ViewBlogentryTitle_content}"/>
                    <h:outputText value="#{bundle.ViewBlogentryLabel_created}"/>
                    <h:outputText value="#{blogentryController.selected.created}" title="#{bundle.ViewBlogentryTitle_created}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewBlogentryLabel_status}"/>
                    <h:outputText value="#{blogentryController.selected.status}" title="#{bundle.ViewBlogentryTitle_status}"/>
                    <h:outputText value="#{bundle.ViewBlogentryLabel_userid}"/>
                    <h:outputText value="#{blogentryController.selected.userid}" title="#{bundle.ViewBlogentryTitle_userid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{blogentryController.destroyAndView}" value="#{bundle.ViewBlogentryDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewBlogentryEditLink}"/>
                <br />
                <h:commandLink action="#{blogentryController.prepareCreate}" value="#{bundle.ViewBlogentryCreateLink}" />
                <br />
                <h:commandLink action="#{blogentryController.prepareList}" value="#{bundle.ViewBlogentryShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewBlogentryIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
