<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateFotosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateFotosLabel_fotoid}" for="fotoid" />
                    <h:inputText id="fotoid" value="#{fotosController.selected.fotoid}" title="#{bundle.CreateFotosTitle_fotoid}" required="true" requiredMessage="#{bundle.CreateFotosRequiredMessage_fotoid}"/>
                    <h:outputLabel value="#{bundle.CreateFotosLabel_foto1}" for="foto1" />
                    <h:inputText id="foto1" value="#{fotosController.selected.foto1}" title="#{bundle.CreateFotosTitle_foto1}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_foto2}" for="foto2" />
                    <h:inputText id="foto2" value="#{fotosController.selected.foto2}" title="#{bundle.CreateFotosTitle_foto2}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_foto3}" for="foto3" />
                    <h:inputText id="foto3" value="#{fotosController.selected.foto3}" title="#{bundle.CreateFotosTitle_foto3}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_foto4}" for="foto4" />
                    <h:inputText id="foto4" value="#{fotosController.selected.foto4}" title="#{bundle.CreateFotosTitle_foto4}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_foto5}" for="foto5" />
                    <h:inputText id="foto5" value="#{fotosController.selected.foto5}" title="#{bundle.CreateFotosTitle_foto5}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_foto1Title}" for="foto1Title" />
                    <h:inputText id="foto1Title" value="#{fotosController.selected.foto1Title}" title="#{bundle.CreateFotosTitle_foto1Title}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_foto2Title}" for="foto2Title" />
                    <h:inputText id="foto2Title" value="#{fotosController.selected.foto2Title}" title="#{bundle.CreateFotosTitle_foto2Title}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_foto3Title}" for="foto3Title" />
                    <h:inputText id="foto3Title" value="#{fotosController.selected.foto3Title}" title="#{bundle.CreateFotosTitle_foto3Title}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_foto4Title}" for="foto4Title" />
                    <h:inputText id="foto4Title" value="#{fotosController.selected.foto4Title}" title="#{bundle.CreateFotosTitle_foto4Title}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_foto5Title}" for="foto5Title" />
                    <h:inputText id="foto5Title" value="#{fotosController.selected.foto5Title}" title="#{bundle.CreateFotosTitle_foto5Title}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_logo1}" for="logo1" />
                    <h:inputText id="logo1" value="#{fotosController.selected.logo1}" title="#{bundle.CreateFotosTitle_logo1}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_logo2}" for="logo2" />
                    <h:inputText id="logo2" value="#{fotosController.selected.logo2}" title="#{bundle.CreateFotosTitle_logo2}" />
                    <h:outputLabel value="#{bundle.CreateFotosLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{fotosController.selected.parkareaid}" title="#{bundle.CreateFotosTitle_parkareaid}" required="true" requiredMessage="#{bundle.CreateFotosRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{fotosController.create}" value="#{bundle.CreateFotosSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{fotosController.prepareList}" value="#{bundle.CreateFotosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateFotosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
