<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListFotosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListFotosEmpty}" rendered="#{fotosController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{fotosController.items.rowCount > 0}">
                    <h:outputText value="#{fotosController.pagination.pageFirstItem + 1}..#{fotosController.pagination.pageLastItem + 1}/#{fotosController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{fotosController.previous}" value="#{bundle.Previous} #{fotosController.pagination.pageSize}" rendered="#{fotosController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{fotosController.next}" value="#{bundle.Next} #{fotosController.pagination.pageSize}" rendered="#{fotosController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{fotosController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_fotoid}"/>
                            </f:facet>
                            <h:outputText value="#{item.fotoid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_foto1}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_foto2}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_foto3}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto3}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_foto4}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto4}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_foto5}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto5}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_foto1Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto1Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_foto2Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto2Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_foto3Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto3Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_foto4Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto4Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_foto5Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto5Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_logo1}"/>
                            </f:facet>
                            <h:outputText value="#{item.logo1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_logo2}"/>
                            </f:facet>
                            <h:outputText value="#{item.logo2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFotosTitle_parkareaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkareaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{fotosController.prepareView}" value="#{bundle.ListFotosViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{fotosController.prepareEdit}" value="#{bundle.ListFotosEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{fotosController.destroy}" value="#{bundle.ListFotosDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{fotosController.prepareCreate}" value="#{bundle.ListFotosCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListFotosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
