<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditParkhausTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditParkhausLabel_parkhausid}" for="parkhausid" />
                    <h:inputText id="parkhausid" value="#{parkhausController.selected.parkhausid}" title="#{bundle.EditParkhausTitle_parkhausid}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_parkhausid}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_userid}" for="userid" />
                    <h:inputText id="userid" value="#{parkhausController.selected.userid}" title="#{bundle.EditParkhausTitle_userid}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_userid}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_latitude}" for="latitude" />
                    <h:inputText id="latitude" value="#{parkhausController.selected.latitude}" title="#{bundle.EditParkhausTitle_latitude}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_latitude}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_longitude}" for="longitude" />
                    <h:inputText id="longitude" value="#{parkhausController.selected.longitude}" title="#{bundle.EditParkhausTitle_longitude}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_longitude}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_street}" for="street" />
                    <h:inputText id="street" value="#{parkhausController.selected.street}" title="#{bundle.EditParkhausTitle_street}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_street}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_zipcode}" for="zipcode" />
                    <h:inputText id="zipcode" value="#{parkhausController.selected.zipcode}" title="#{bundle.EditParkhausTitle_zipcode}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_zipcode}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_city}" for="city" />
                    <h:inputText id="city" value="#{parkhausController.selected.city}" title="#{bundle.EditParkhausTitle_city}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_city}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_country}" for="country" />
                    <h:inputText id="country" value="#{parkhausController.selected.country}" title="#{bundle.EditParkhausTitle_country}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_country}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_startDate}" for="startDate" />
                    <h:inputText id="startDate" value="#{parkhausController.selected.startDate}" title="#{bundle.EditParkhausTitle_startDate}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_startDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_endDate}" for="endDate" />
                    <h:inputText id="endDate" value="#{parkhausController.selected.endDate}" title="#{bundle.EditParkhausTitle_endDate}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_endDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_areatype}" for="areatype" />
                    <h:inputText id="areatype" value="#{parkhausController.selected.areatype}" title="#{bundle.EditParkhausTitle_areatype}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_scheduletype}" for="scheduletype" />
                    <h:inputText id="scheduletype" value="#{parkhausController.selected.scheduletype}" title="#{bundle.EditParkhausTitle_scheduletype}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_scheduletype}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_status}" for="status" />
                    <h:inputText id="status" value="#{parkhausController.selected.status}" title="#{bundle.EditParkhausTitle_status}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_description}" for="description" />
                    <h:inputText id="description" value="#{parkhausController.selected.description}" title="#{bundle.EditParkhausTitle_description}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_secret}" for="secret" />
                    <h:inputText id="secret" value="#{parkhausController.selected.secret}" title="#{bundle.EditParkhausTitle_secret}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_foto1}" for="foto1" />
                    <h:inputText id="foto1" value="#{parkhausController.selected.foto1}" title="#{bundle.EditParkhausTitle_foto1}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_foto2}" for="foto2" />
                    <h:inputText id="foto2" value="#{parkhausController.selected.foto2}" title="#{bundle.EditParkhausTitle_foto2}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_priceMin}" for="priceMin" />
                    <h:inputText id="priceMin" value="#{parkhausController.selected.priceMin}" title="#{bundle.EditParkhausTitle_priceMin}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_nrofspaces}" for="nrofspaces" />
                    <h:inputText id="nrofspaces" value="#{parkhausController.selected.nrofspaces}" title="#{bundle.EditParkhausTitle_nrofspaces}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_markeruri}" for="markeruri" />
                    <h:inputText id="markeruri" value="#{parkhausController.selected.markeruri}" title="#{bundle.EditParkhausTitle_markeruri}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_title}" for="title" />
                    <h:inputText id="title" value="#{parkhausController.selected.title}" title="#{bundle.EditParkhausTitle_title}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_foto3}" for="foto3" />
                    <h:inputText id="foto3" value="#{parkhausController.selected.foto3}" title="#{bundle.EditParkhausTitle_foto3}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_pricemodel}" for="pricemodel" />
                    <h:inputText id="pricemodel" value="#{parkhausController.selected.pricemodel}" title="#{bundle.EditParkhausTitle_pricemodel}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_pricemodel}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_seoTitle}" for="seoTitle" />
                    <h:inputText id="seoTitle" value="#{parkhausController.selected.seoTitle}" title="#{bundle.EditParkhausTitle_seoTitle}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_seoTitle}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_citySeo}" for="citySeo" />
                    <h:inputText id="citySeo" value="#{parkhausController.selected.citySeo}" title="#{bundle.EditParkhausTitle_citySeo}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_citySeo}"/>
                    <h:outputLabel value="#{bundle.EditParkhausLabel_openingTime}" for="openingTime" />
                    <h:inputText id="openingTime" value="#{parkhausController.selected.openingTime}" title="#{bundle.EditParkhausTitle_openingTime}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_headroom}" for="headroom" />
                    <h:inputText id="headroom" value="#{parkhausController.selected.headroom}" title="#{bundle.EditParkhausTitle_headroom}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_operator}" for="operator" />
                    <h:inputText id="operator" value="#{parkhausController.selected.operator}" title="#{bundle.EditParkhausTitle_operator}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_foto1Title}" for="foto1Title" />
                    <h:inputText id="foto1Title" value="#{parkhausController.selected.foto1Title}" title="#{bundle.EditParkhausTitle_foto1Title}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_foto2Title}" for="foto2Title" />
                    <h:inputText id="foto2Title" value="#{parkhausController.selected.foto2Title}" title="#{bundle.EditParkhausTitle_foto2Title}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_foto3Title}" for="foto3Title" />
                    <h:inputText id="foto3Title" value="#{parkhausController.selected.foto3Title}" title="#{bundle.EditParkhausTitle_foto3Title}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_foto4}" for="foto4" />
                    <h:inputText id="foto4" value="#{parkhausController.selected.foto4}" title="#{bundle.EditParkhausTitle_foto4}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_foto4Title}" for="foto4Title" />
                    <h:inputText id="foto4Title" value="#{parkhausController.selected.foto4Title}" title="#{bundle.EditParkhausTitle_foto4Title}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_foto5}" for="foto5" />
                    <h:inputText id="foto5" value="#{parkhausController.selected.foto5}" title="#{bundle.EditParkhausTitle_foto5}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_foto5Title}" for="foto5Title" />
                    <h:inputText id="foto5Title" value="#{parkhausController.selected.foto5Title}" title="#{bundle.EditParkhausTitle_foto5Title}" />
                    <h:outputLabel value="#{bundle.EditParkhausLabel_longterm}" for="longterm" />
                    <h:inputText id="longterm" value="#{parkhausController.selected.longterm}" title="#{bundle.EditParkhausTitle_longterm}" required="true" requiredMessage="#{bundle.EditParkhausRequiredMessage_longterm}"/>
                </h:panelGrid>
                <h:commandLink action="#{parkhausController.update}" value="#{bundle.EditParkhausSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditParkhausViewLink}"/>
                <br />
                <h:commandLink action="#{parkhausController.prepareList}" value="#{bundle.EditParkhausShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditParkhausIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
