<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListParkhausTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListParkhausEmpty}" rendered="#{parkhausController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{parkhausController.items.rowCount > 0}">
                    <h:outputText value="#{parkhausController.pagination.pageFirstItem + 1}..#{parkhausController.pagination.pageLastItem + 1}/#{parkhausController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{parkhausController.previous}" value="#{bundle.Previous} #{parkhausController.pagination.pageSize}" rendered="#{parkhausController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{parkhausController.next}" value="#{bundle.Next} #{parkhausController.pagination.pageSize}" rendered="#{parkhausController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{parkhausController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_parkhausid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkhausid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_userid}"/>
                            </f:facet>
                            <h:outputText value="#{item.userid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_latitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.latitude}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_longitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.longitude}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_street}"/>
                            </f:facet>
                            <h:outputText value="#{item.street}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_zipcode}"/>
                            </f:facet>
                            <h:outputText value="#{item.zipcode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_city}"/>
                            </f:facet>
                            <h:outputText value="#{item.city}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_country}"/>
                            </f:facet>
                            <h:outputText value="#{item.country}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_startDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.startDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_endDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.endDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_areatype}"/>
                            </f:facet>
                            <h:outputText value="#{item.areatype}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_scheduletype}"/>
                            </f:facet>
                            <h:outputText value="#{item.scheduletype}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_secret}"/>
                            </f:facet>
                            <h:outputText value="#{item.secret}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_foto1}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_foto2}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_priceMin}"/>
                            </f:facet>
                            <h:outputText value="#{item.priceMin}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_nrofspaces}"/>
                            </f:facet>
                            <h:outputText value="#{item.nrofspaces}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_markeruri}"/>
                            </f:facet>
                            <h:outputText value="#{item.markeruri}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_foto3}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto3}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_pricemodel}"/>
                            </f:facet>
                            <h:outputText value="#{item.pricemodel}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_seoTitle}"/>
                            </f:facet>
                            <h:outputText value="#{item.seoTitle}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_citySeo}"/>
                            </f:facet>
                            <h:outputText value="#{item.citySeo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_openingTime}"/>
                            </f:facet>
                            <h:outputText value="#{item.openingTime}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_headroom}"/>
                            </f:facet>
                            <h:outputText value="#{item.headroom}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_operator}"/>
                            </f:facet>
                            <h:outputText value="#{item.operator}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_foto1Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto1Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_foto2Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto2Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_foto3Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto3Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_foto4}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto4}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_foto4Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto4Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_foto5}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto5}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_foto5Title}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto5Title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParkhausTitle_longterm}"/>
                            </f:facet>
                            <h:outputText value="#{item.longterm}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{parkhausController.prepareView}" value="#{bundle.ListParkhausViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{parkhausController.prepareEdit}" value="#{bundle.ListParkhausEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{parkhausController.destroy}" value="#{bundle.ListParkhausDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{parkhausController.prepareCreate}" value="#{bundle.ListParkhausCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListParkhausIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
