<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditBannerClickCountsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditBannerClickCountsLabel_bannerclickid}" for="bannerclickid" />
                    <h:inputText id="bannerclickid" value="#{bannerClickCountsController.selected.bannerclickid}" title="#{bundle.EditBannerClickCountsTitle_bannerclickid}" required="true" requiredMessage="#{bundle.EditBannerClickCountsRequiredMessage_bannerclickid}"/>
                    <h:outputLabel value="#{bundle.EditBannerClickCountsLabel_name}" for="name" />
                    <h:inputText id="name" value="#{bannerClickCountsController.selected.name}" title="#{bundle.EditBannerClickCountsTitle_name}" />
                    <h:outputLabel value="#{bundle.EditBannerClickCountsLabel_city}" for="city" />
                    <h:inputText id="city" value="#{bannerClickCountsController.selected.city}" title="#{bundle.EditBannerClickCountsTitle_city}" />
                    <h:outputLabel value="#{bundle.EditBannerClickCountsLabel_counts}" for="counts" />
                    <h:inputText id="counts" value="#{bannerClickCountsController.selected.counts}" title="#{bundle.EditBannerClickCountsTitle_counts}" />
                    <h:outputLabel value="#{bundle.EditBannerClickCountsLabel_status}" for="status" />
                    <h:inputText id="status" value="#{bannerClickCountsController.selected.status}" title="#{bundle.EditBannerClickCountsTitle_status}" required="true" requiredMessage="#{bundle.EditBannerClickCountsRequiredMessage_status}"/>
                </h:panelGrid>
                <h:commandLink action="#{bannerClickCountsController.update}" value="#{bundle.EditBannerClickCountsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditBannerClickCountsViewLink}"/>
                <br />
                <h:commandLink action="#{bannerClickCountsController.prepareList}" value="#{bundle.EditBannerClickCountsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditBannerClickCountsIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
