<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListBannerClickCountsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListBannerClickCountsEmpty}" rendered="#{bannerClickCountsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{bannerClickCountsController.items.rowCount > 0}">
                    <h:outputText value="#{bannerClickCountsController.pagination.pageFirstItem + 1}..#{bannerClickCountsController.pagination.pageLastItem + 1}/#{bannerClickCountsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{bannerClickCountsController.previous}" value="#{bundle.Previous} #{bannerClickCountsController.pagination.pageSize}" rendered="#{bannerClickCountsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{bannerClickCountsController.next}" value="#{bundle.Next} #{bannerClickCountsController.pagination.pageSize}" rendered="#{bannerClickCountsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{bannerClickCountsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBannerClickCountsTitle_bannerclickid}"/>
                            </f:facet>
                            <h:outputText value="#{item.bannerclickid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBannerClickCountsTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBannerClickCountsTitle_city}"/>
                            </f:facet>
                            <h:outputText value="#{item.city}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBannerClickCountsTitle_counts}"/>
                            </f:facet>
                            <h:outputText value="#{item.counts}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBannerClickCountsTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{bannerClickCountsController.prepareView}" value="#{bundle.ListBannerClickCountsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{bannerClickCountsController.prepareEdit}" value="#{bundle.ListBannerClickCountsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{bannerClickCountsController.destroy}" value="#{bundle.ListBannerClickCountsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{bannerClickCountsController.prepareCreate}" value="#{bundle.ListBannerClickCountsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListBannerClickCountsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
