<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewBannerClickCountsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewBannerClickCountsLabel_bannerclickid}"/>
                    <h:outputText value="#{bannerClickCountsController.selected.bannerclickid}" title="#{bundle.ViewBannerClickCountsTitle_bannerclickid}"/>
                    <h:outputText value="#{bundle.ViewBannerClickCountsLabel_name}"/>
                    <h:outputText value="#{bannerClickCountsController.selected.name}" title="#{bundle.ViewBannerClickCountsTitle_name}"/>
                    <h:outputText value="#{bundle.ViewBannerClickCountsLabel_city}"/>
                    <h:outputText value="#{bannerClickCountsController.selected.city}" title="#{bundle.ViewBannerClickCountsTitle_city}"/>
                    <h:outputText value="#{bundle.ViewBannerClickCountsLabel_counts}"/>
                    <h:outputText value="#{bannerClickCountsController.selected.counts}" title="#{bundle.ViewBannerClickCountsTitle_counts}"/>
                    <h:outputText value="#{bundle.ViewBannerClickCountsLabel_status}"/>
                    <h:outputText value="#{bannerClickCountsController.selected.status}" title="#{bundle.ViewBannerClickCountsTitle_status}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{bannerClickCountsController.destroyAndView}" value="#{bundle.ViewBannerClickCountsDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewBannerClickCountsEditLink}"/>
                <br />
                <h:commandLink action="#{bannerClickCountsController.prepareCreate}" value="#{bundle.ViewBannerClickCountsCreateLink}" />
                <br />
                <h:commandLink action="#{bannerClickCountsController.prepareList}" value="#{bundle.ViewBannerClickCountsShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewBannerClickCountsIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
