<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCarparkserviceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCarparkserviceLabel_cpserviceid}" for="cpserviceid" />
                    <h:inputText id="cpserviceid" value="#{carparkserviceController.selected.cpserviceid}" title="#{bundle.CreateCarparkserviceTitle_cpserviceid}" required="true" requiredMessage="#{bundle.CreateCarparkserviceRequiredMessage_cpserviceid}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkserviceLabel_title}" for="title" />
                    <h:inputText id="title" value="#{carparkserviceController.selected.title}" title="#{bundle.CreateCarparkserviceTitle_title}" />
                    <h:outputLabel value="#{bundle.CreateCarparkserviceLabel_description}" for="description" />
                    <h:inputText id="description" value="#{carparkserviceController.selected.description}" title="#{bundle.CreateCarparkserviceTitle_description}" />
                    <h:outputLabel value="#{bundle.CreateCarparkserviceLabel_status}" for="status" />
                    <h:inputText id="status" value="#{carparkserviceController.selected.status}" title="#{bundle.CreateCarparkserviceTitle_status}" required="true" requiredMessage="#{bundle.CreateCarparkserviceRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkserviceLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{carparkserviceController.selected.parkareaid}" title="#{bundle.CreateCarparkserviceTitle_parkareaid}" required="true" requiredMessage="#{bundle.CreateCarparkserviceRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{carparkserviceController.create}" value="#{bundle.CreateCarparkserviceSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{carparkserviceController.prepareList}" value="#{bundle.CreateCarparkserviceShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCarparkserviceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
