<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCarparkserviceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCarparkserviceEmpty}" rendered="#{carparkserviceController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{carparkserviceController.items.rowCount > 0}">
                    <h:outputText value="#{carparkserviceController.pagination.pageFirstItem + 1}..#{carparkserviceController.pagination.pageLastItem + 1}/#{carparkserviceController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{carparkserviceController.previous}" value="#{bundle.Previous} #{carparkserviceController.pagination.pageSize}" rendered="#{carparkserviceController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{carparkserviceController.next}" value="#{bundle.Next} #{carparkserviceController.pagination.pageSize}" rendered="#{carparkserviceController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{carparkserviceController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkserviceTitle_cpserviceid}"/>
                            </f:facet>
                            <h:outputText value="#{item.cpserviceid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkserviceTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkserviceTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkserviceTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkserviceTitle_parkareaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkareaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{carparkserviceController.prepareView}" value="#{bundle.ListCarparkserviceViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{carparkserviceController.prepareEdit}" value="#{bundle.ListCarparkserviceEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{carparkserviceController.destroy}" value="#{bundle.ListCarparkserviceDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{carparkserviceController.prepareCreate}" value="#{bundle.ListCarparkserviceCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCarparkserviceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
