<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePrpslcommentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePrpslcommentLabel_commentid}" for="commentid" />
                    <h:inputText id="commentid" value="#{prpslcommentController.selected.commentid}" title="#{bundle.CreatePrpslcommentTitle_commentid}" required="true" requiredMessage="#{bundle.CreatePrpslcommentRequiredMessage_commentid}"/>
                    <h:outputLabel value="#{bundle.CreatePrpslcommentLabel_userid}" for="userid" />
                    <h:inputText id="userid" value="#{prpslcommentController.selected.userid}" title="#{bundle.CreatePrpslcommentTitle_userid}" required="true" requiredMessage="#{bundle.CreatePrpslcommentRequiredMessage_userid}"/>
                    <h:outputLabel value="#{bundle.CreatePrpslcommentLabel_comment}" for="comment" />
                    <h:inputText id="comment" value="#{prpslcommentController.selected.comment}" title="#{bundle.CreatePrpslcommentTitle_comment}" />
                    <h:outputLabel value="#{bundle.CreatePrpslcommentLabel_datum}" for="datum" />
                    <h:inputText id="datum" value="#{prpslcommentController.selected.datum}" title="#{bundle.CreatePrpslcommentTitle_datum}" required="true" requiredMessage="#{bundle.CreatePrpslcommentRequiredMessage_datum}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreatePrpslcommentLabel_status}" for="status" />
                    <h:inputText id="status" value="#{prpslcommentController.selected.status}" title="#{bundle.CreatePrpslcommentTitle_status}" required="true" requiredMessage="#{bundle.CreatePrpslcommentRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreatePrpslcommentLabel_proposalid}" for="proposalid" />
                    <h:selectOneMenu id="proposalid" value="#{prpslcommentController.selected.proposalid}" title="#{bundle.CreatePrpslcommentTitle_proposalid}" required="true" requiredMessage="#{bundle.CreatePrpslcommentRequiredMessage_proposalid}">
                        <f:selectItems value="#{proposalController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{prpslcommentController.create}" value="#{bundle.CreatePrpslcommentSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{prpslcommentController.prepareList}" value="#{bundle.CreatePrpslcommentShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePrpslcommentIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
