<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPrpslcommentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPrpslcommentEmpty}" rendered="#{prpslcommentController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{prpslcommentController.items.rowCount > 0}">
                    <h:outputText value="#{prpslcommentController.pagination.pageFirstItem + 1}..#{prpslcommentController.pagination.pageLastItem + 1}/#{prpslcommentController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{prpslcommentController.previous}" value="#{bundle.Previous} #{prpslcommentController.pagination.pageSize}" rendered="#{prpslcommentController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{prpslcommentController.next}" value="#{bundle.Next} #{prpslcommentController.pagination.pageSize}" rendered="#{prpslcommentController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{prpslcommentController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrpslcommentTitle_commentid}"/>
                            </f:facet>
                            <h:outputText value="#{item.commentid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrpslcommentTitle_userid}"/>
                            </f:facet>
                            <h:outputText value="#{item.userid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrpslcommentTitle_comment}"/>
                            </f:facet>
                            <h:outputText value="#{item.comment}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrpslcommentTitle_datum}"/>
                            </f:facet>
                            <h:outputText value="#{item.datum}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrpslcommentTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrpslcommentTitle_proposalid}"/>
                            </f:facet>
                            <h:outputText value="#{item.proposalid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{prpslcommentController.prepareView}" value="#{bundle.ListPrpslcommentViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{prpslcommentController.prepareEdit}" value="#{bundle.ListPrpslcommentEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{prpslcommentController.destroy}" value="#{bundle.ListPrpslcommentDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{prpslcommentController.prepareCreate}" value="#{bundle.ListPrpslcommentCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPrpslcommentIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
