<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPrpslcommentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPrpslcommentLabel_commentid}"/>
                    <h:outputText value="#{prpslcommentController.selected.commentid}" title="#{bundle.ViewPrpslcommentTitle_commentid}"/>
                    <h:outputText value="#{bundle.ViewPrpslcommentLabel_userid}"/>
                    <h:outputText value="#{prpslcommentController.selected.userid}" title="#{bundle.ViewPrpslcommentTitle_userid}"/>
                    <h:outputText value="#{bundle.ViewPrpslcommentLabel_comment}"/>
                    <h:outputText value="#{prpslcommentController.selected.comment}" title="#{bundle.ViewPrpslcommentTitle_comment}"/>
                    <h:outputText value="#{bundle.ViewPrpslcommentLabel_datum}"/>
                    <h:outputText value="#{prpslcommentController.selected.datum}" title="#{bundle.ViewPrpslcommentTitle_datum}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPrpslcommentLabel_status}"/>
                    <h:outputText value="#{prpslcommentController.selected.status}" title="#{bundle.ViewPrpslcommentTitle_status}"/>
                    <h:outputText value="#{bundle.ViewPrpslcommentLabel_proposalid}"/>
                    <h:outputText value="#{prpslcommentController.selected.proposalid}" title="#{bundle.ViewPrpslcommentTitle_proposalid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{prpslcommentController.destroyAndView}" value="#{bundle.ViewPrpslcommentDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPrpslcommentEditLink}"/>
                <br />
                <h:commandLink action="#{prpslcommentController.prepareCreate}" value="#{bundle.ViewPrpslcommentCreateLink}" />
                <br />
                <h:commandLink action="#{prpslcommentController.prepareList}" value="#{bundle.ViewPrpslcommentShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPrpslcommentIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
