<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAlarmcontactTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAlarmcontactLabel_alarmid}" for="alarmid" />
                    <h:inputText id="alarmid" value="#{alarmcontactController.selected.alarmid}" title="#{bundle.CreateAlarmcontactTitle_alarmid}" required="true" requiredMessage="#{bundle.CreateAlarmcontactRequiredMessage_alarmid}"/>
                    <h:outputLabel value="#{bundle.CreateAlarmcontactLabel_email}" for="email" />
                    <h:inputText id="email" value="#{alarmcontactController.selected.email}" title="#{bundle.CreateAlarmcontactTitle_email}" />
                    <h:outputLabel value="#{bundle.CreateAlarmcontactLabel_address}" for="address" />
                    <h:inputText id="address" value="#{alarmcontactController.selected.address}" title="#{bundle.CreateAlarmcontactTitle_address}" />
                    <h:outputLabel value="#{bundle.CreateAlarmcontactLabel_radius}" for="radius" />
                    <h:inputText id="radius" value="#{alarmcontactController.selected.radius}" title="#{bundle.CreateAlarmcontactTitle_radius}" />
                    <h:outputLabel value="#{bundle.CreateAlarmcontactLabel_status}" for="status" />
                    <h:inputText id="status" value="#{alarmcontactController.selected.status}" title="#{bundle.CreateAlarmcontactTitle_status}" required="true" requiredMessage="#{bundle.CreateAlarmcontactRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateAlarmcontactLabel_ipadresse}" for="ipadresse" />
                    <h:inputText id="ipadresse" value="#{alarmcontactController.selected.ipadresse}" title="#{bundle.CreateAlarmcontactTitle_ipadresse}" />
                    <h:outputLabel value="#{bundle.CreateAlarmcontactLabel_longitude}" for="longitude" />
                    <h:inputText id="longitude" value="#{alarmcontactController.selected.longitude}" title="#{bundle.CreateAlarmcontactTitle_longitude}" />
                    <h:outputLabel value="#{bundle.CreateAlarmcontactLabel_latitude}" for="latitude" />
                    <h:inputText id="latitude" value="#{alarmcontactController.selected.latitude}" title="#{bundle.CreateAlarmcontactTitle_latitude}" />
                    <h:outputLabel value="#{bundle.CreateAlarmcontactLabel_city}" for="city" />
                    <h:inputText id="city" value="#{alarmcontactController.selected.city}" title="#{bundle.CreateAlarmcontactTitle_city}" />
                    <h:outputLabel value="#{bundle.CreateAlarmcontactLabel_datum}" for="datum" />
                    <h:inputText id="datum" value="#{alarmcontactController.selected.datum}" title="#{bundle.CreateAlarmcontactTitle_datum}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{alarmcontactController.create}" value="#{bundle.CreateAlarmcontactSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{alarmcontactController.prepareList}" value="#{bundle.CreateAlarmcontactShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAlarmcontactIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
