<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAlarmcontactTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAlarmcontactLabel_alarmid}" for="alarmid" />
                    <h:inputText id="alarmid" value="#{alarmcontactController.selected.alarmid}" title="#{bundle.EditAlarmcontactTitle_alarmid}" required="true" requiredMessage="#{bundle.EditAlarmcontactRequiredMessage_alarmid}"/>
                    <h:outputLabel value="#{bundle.EditAlarmcontactLabel_email}" for="email" />
                    <h:inputText id="email" value="#{alarmcontactController.selected.email}" title="#{bundle.EditAlarmcontactTitle_email}" />
                    <h:outputLabel value="#{bundle.EditAlarmcontactLabel_address}" for="address" />
                    <h:inputText id="address" value="#{alarmcontactController.selected.address}" title="#{bundle.EditAlarmcontactTitle_address}" />
                    <h:outputLabel value="#{bundle.EditAlarmcontactLabel_radius}" for="radius" />
                    <h:inputText id="radius" value="#{alarmcontactController.selected.radius}" title="#{bundle.EditAlarmcontactTitle_radius}" />
                    <h:outputLabel value="#{bundle.EditAlarmcontactLabel_status}" for="status" />
                    <h:inputText id="status" value="#{alarmcontactController.selected.status}" title="#{bundle.EditAlarmcontactTitle_status}" required="true" requiredMessage="#{bundle.EditAlarmcontactRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditAlarmcontactLabel_ipadresse}" for="ipadresse" />
                    <h:inputText id="ipadresse" value="#{alarmcontactController.selected.ipadresse}" title="#{bundle.EditAlarmcontactTitle_ipadresse}" />
                    <h:outputLabel value="#{bundle.EditAlarmcontactLabel_longitude}" for="longitude" />
                    <h:inputText id="longitude" value="#{alarmcontactController.selected.longitude}" title="#{bundle.EditAlarmcontactTitle_longitude}" />
                    <h:outputLabel value="#{bundle.EditAlarmcontactLabel_latitude}" for="latitude" />
                    <h:inputText id="latitude" value="#{alarmcontactController.selected.latitude}" title="#{bundle.EditAlarmcontactTitle_latitude}" />
                    <h:outputLabel value="#{bundle.EditAlarmcontactLabel_city}" for="city" />
                    <h:inputText id="city" value="#{alarmcontactController.selected.city}" title="#{bundle.EditAlarmcontactTitle_city}" />
                    <h:outputLabel value="#{bundle.EditAlarmcontactLabel_datum}" for="datum" />
                    <h:inputText id="datum" value="#{alarmcontactController.selected.datum}" title="#{bundle.EditAlarmcontactTitle_datum}" />
                </h:panelGrid>
                <h:commandLink action="#{alarmcontactController.update}" value="#{bundle.EditAlarmcontactSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAlarmcontactViewLink}"/>
                <br />
                <h:commandLink action="#{alarmcontactController.prepareList}" value="#{bundle.EditAlarmcontactShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAlarmcontactIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
