<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCarparkpricingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCarparkpricingLabel_cppricingid}" for="cppricingid" />
                    <h:inputText id="cppricingid" value="#{carparkpricingController.selected.cppricingid}" title="#{bundle.EditCarparkpricingTitle_cppricingid}" required="true" requiredMessage="#{bundle.EditCarparkpricingRequiredMessage_cppricingid}"/>
                    <h:outputLabel value="#{bundle.EditCarparkpricingLabel_pricing}" for="pricing" />
                    <h:inputText id="pricing" value="#{carparkpricingController.selected.pricing}" title="#{bundle.EditCarparkpricingTitle_pricing}" />
                    <h:outputLabel value="#{bundle.EditCarparkpricingLabel_status}" for="status" />
                    <h:inputText id="status" value="#{carparkpricingController.selected.status}" title="#{bundle.EditCarparkpricingTitle_status}" required="true" requiredMessage="#{bundle.EditCarparkpricingRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditCarparkpricingLabel_parkareaid}" for="parkareaid" />
                    <h:selectOneMenu id="parkareaid" value="#{carparkpricingController.selected.parkareaid}" title="#{bundle.EditCarparkpricingTitle_parkareaid}" required="true" requiredMessage="#{bundle.EditCarparkpricingRequiredMessage_parkareaid}">
                        <f:selectItems value="#{parkareaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{carparkpricingController.update}" value="#{bundle.EditCarparkpricingSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCarparkpricingViewLink}"/>
                <br />
                <h:commandLink action="#{carparkpricingController.prepareList}" value="#{bundle.EditCarparkpricingShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCarparkpricingIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
