<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCarparkpricingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCarparkpricingEmpty}" rendered="#{carparkpricingController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{carparkpricingController.items.rowCount > 0}">
                    <h:outputText value="#{carparkpricingController.pagination.pageFirstItem + 1}..#{carparkpricingController.pagination.pageLastItem + 1}/#{carparkpricingController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{carparkpricingController.previous}" value="#{bundle.Previous} #{carparkpricingController.pagination.pageSize}" rendered="#{carparkpricingController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{carparkpricingController.next}" value="#{bundle.Next} #{carparkpricingController.pagination.pageSize}" rendered="#{carparkpricingController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{carparkpricingController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkpricingTitle_cppricingid}"/>
                            </f:facet>
                            <h:outputText value="#{item.cppricingid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkpricingTitle_pricing}"/>
                            </f:facet>
                            <h:outputText value="#{item.pricing}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkpricingTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCarparkpricingTitle_parkareaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.parkareaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{carparkpricingController.prepareView}" value="#{bundle.ListCarparkpricingViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{carparkpricingController.prepareEdit}" value="#{bundle.ListCarparkpricingEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{carparkpricingController.destroy}" value="#{bundle.ListCarparkpricingDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{carparkpricingController.prepareCreate}" value="#{bundle.ListCarparkpricingCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCarparkpricingIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
