<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateOperatorserviceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateOperatorserviceLabel_opserviceid}" for="opserviceid" />
                    <h:inputText id="opserviceid" value="#{operatorserviceController.selected.opserviceid}" title="#{bundle.CreateOperatorserviceTitle_opserviceid}" required="true" requiredMessage="#{bundle.CreateOperatorserviceRequiredMessage_opserviceid}"/>
                    <h:outputLabel value="#{bundle.CreateOperatorserviceLabel_title}" for="title" />
                    <h:inputText id="title" value="#{operatorserviceController.selected.title}" title="#{bundle.CreateOperatorserviceTitle_title}" />
                    <h:outputLabel value="#{bundle.CreateOperatorserviceLabel_descript}" for="descript" />
                    <h:inputText id="descript" value="#{operatorserviceController.selected.descript}" title="#{bundle.CreateOperatorserviceTitle_descript}" />
                    <h:outputLabel value="#{bundle.CreateOperatorserviceLabel_price}" for="price" />
                    <h:inputText id="price" value="#{operatorserviceController.selected.price}" title="#{bundle.CreateOperatorserviceTitle_price}" />
                    <h:outputLabel value="#{bundle.CreateOperatorserviceLabel_status}" for="status" />
                    <h:inputText id="status" value="#{operatorserviceController.selected.status}" title="#{bundle.CreateOperatorserviceTitle_status}" required="true" requiredMessage="#{bundle.CreateOperatorserviceRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateOperatorserviceLabel_carparkid}" for="carparkid" />
                    <h:selectOneMenu id="carparkid" value="#{operatorserviceController.selected.carparkid}" title="#{bundle.CreateOperatorserviceTitle_carparkid}" required="true" requiredMessage="#{bundle.CreateOperatorserviceRequiredMessage_carparkid}">
                        <f:selectItems value="#{carparkoperatorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{operatorserviceController.create}" value="#{bundle.CreateOperatorserviceSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{operatorserviceController.prepareList}" value="#{bundle.CreateOperatorserviceShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateOperatorserviceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
