<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListOperatorserviceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListOperatorserviceEmpty}" rendered="#{operatorserviceController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{operatorserviceController.items.rowCount > 0}">
                    <h:outputText value="#{operatorserviceController.pagination.pageFirstItem + 1}..#{operatorserviceController.pagination.pageLastItem + 1}/#{operatorserviceController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{operatorserviceController.previous}" value="#{bundle.Previous} #{operatorserviceController.pagination.pageSize}" rendered="#{operatorserviceController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{operatorserviceController.next}" value="#{bundle.Next} #{operatorserviceController.pagination.pageSize}" rendered="#{operatorserviceController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{operatorserviceController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOperatorserviceTitle_opserviceid}"/>
                            </f:facet>
                            <h:outputText value="#{item.opserviceid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOperatorserviceTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOperatorserviceTitle_descript}"/>
                            </f:facet>
                            <h:outputText value="#{item.descript}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOperatorserviceTitle_price}"/>
                            </f:facet>
                            <h:outputText value="#{item.price}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOperatorserviceTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOperatorserviceTitle_carparkid}"/>
                            </f:facet>
                            <h:outputText value="#{item.carparkid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{operatorserviceController.prepareView}" value="#{bundle.ListOperatorserviceViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{operatorserviceController.prepareEdit}" value="#{bundle.ListOperatorserviceEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{operatorserviceController.destroy}" value="#{bundle.ListOperatorserviceDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{operatorserviceController.prepareCreate}" value="#{bundle.ListOperatorserviceCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListOperatorserviceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
