<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCarparkservice1Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCarparkservice1Label_cpservice1id}" for="cpservice1id" />
                    <h:inputText id="cpservice1id" value="#{carparkservice1Controller.selected.cpservice1id}" title="#{bundle.CreateCarparkservice1Title_cpservice1id}" required="true" requiredMessage="#{bundle.CreateCarparkservice1RequiredMessage_cpservice1id}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkservice1Label_title}" for="title" />
                    <h:inputText id="title" value="#{carparkservice1Controller.selected.title}" title="#{bundle.CreateCarparkservice1Title_title}" />
                    <h:outputLabel value="#{bundle.CreateCarparkservice1Label_description}" for="description" />
                    <h:inputText id="description" value="#{carparkservice1Controller.selected.description}" title="#{bundle.CreateCarparkservice1Title_description}" />
                    <h:outputLabel value="#{bundle.CreateCarparkservice1Label_status}" for="status" />
                    <h:inputText id="status" value="#{carparkservice1Controller.selected.status}" title="#{bundle.CreateCarparkservice1Title_status}" required="true" requiredMessage="#{bundle.CreateCarparkservice1RequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreateCarparkservice1Label_parkhausid}" for="parkhausid" />
                    <h:selectOneMenu id="parkhausid" value="#{carparkservice1Controller.selected.parkhausid}" title="#{bundle.CreateCarparkservice1Title_parkhausid}" required="true" requiredMessage="#{bundle.CreateCarparkservice1RequiredMessage_parkhausid}">
                        <f:selectItems value="#{parkhausController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{carparkservice1Controller.create}" value="#{bundle.CreateCarparkservice1SaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{carparkservice1Controller.prepareList}" value="#{bundle.CreateCarparkservice1ShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCarparkservice1IndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
