<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCarparkservice1Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCarparkservice1Label_cpservice1id}"/>
                    <h:outputText value="#{carparkservice1Controller.selected.cpservice1id}" title="#{bundle.ViewCarparkservice1Title_cpservice1id}"/>
                    <h:outputText value="#{bundle.ViewCarparkservice1Label_title}"/>
                    <h:outputText value="#{carparkservice1Controller.selected.title}" title="#{bundle.ViewCarparkservice1Title_title}"/>
                    <h:outputText value="#{bundle.ViewCarparkservice1Label_description}"/>
                    <h:outputText value="#{carparkservice1Controller.selected.description}" title="#{bundle.ViewCarparkservice1Title_description}"/>
                    <h:outputText value="#{bundle.ViewCarparkservice1Label_status}"/>
                    <h:outputText value="#{carparkservice1Controller.selected.status}" title="#{bundle.ViewCarparkservice1Title_status}"/>
                    <h:outputText value="#{bundle.ViewCarparkservice1Label_parkhausid}"/>
                    <h:outputText value="#{carparkservice1Controller.selected.parkhausid}" title="#{bundle.ViewCarparkservice1Title_parkhausid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{carparkservice1Controller.destroyAndView}" value="#{bundle.ViewCarparkservice1DestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCarparkservice1EditLink}"/>
                <br />
                <h:commandLink action="#{carparkservice1Controller.prepareCreate}" value="#{bundle.ViewCarparkservice1CreateLink}" />
                <br />
                <h:commandLink action="#{carparkservice1Controller.prepareList}" value="#{bundle.ViewCarparkservice1ShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCarparkservice1IndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
