<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"      
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Multidate booking</title>  
        
           

    </h:head>

    <h:body class="container">

        <h:form >

            <p:calendar id="fromDate" value="#{dataController.fromDate}" locale="de" mindate="#{dataController.fromDateMin}">
                <p:ajax event="dateSelect" listener="#{dataController.onDateSelect}" update="toDate" />
            </p:calendar>
            <p:calendar id="toDate" locale="de" value="#{dataController.toDate}"  mindate="#{dataController.toDateMin}"/>
            <br/><br/> <br/><br/> <br/><br/> <br/><br/>                        
            <p:outputLabel value="Price"/>
            <br/><br/>                        
            <p:outputLabel value="#{dataController.price}" id="price" />
            <br/><br/> <br/><br/> <br/><br/> 
            <p:commandButton id="s" value="submit" update="price" actionListener="#{dataController.submit}"/>
        
        </h:form>

    </h:body>

</html>

