<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            
            <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:submenu label="#{bundle.Maintenance}">
                            <p:menuitem value="Advertisearea" outcome="/pages/advertisearea/List.xhtml" />
                            <p:menuitem value="Airportbooking" outcome="/pages/airportbooking/List.xhtml" />
                            <p:menuitem value="Airportpricing" outcome="/pages/airportpricing/List.xhtml" />
                            <p:menuitem value="Alarmcontact" outcome="/pages/alarmcontact/List.xhtml" />
                            <p:menuitem value="Allowedvehicle" outcome="/pages/allowedvehicle/List.xhtml" />
                            <p:menuitem value="Areabooking" outcome="/pages/areabooking/List.xhtml" />
                            <p:menuitem value="Areacontact" outcome="/pages/areacontact/List.xhtml" />
                            <p:menuitem value="Areacontact1" outcome="/pages/areacontact1/List.xhtml" />
                            <p:menuitem value="Areafacility" outcome="/pages/areafacility/List.xhtml" />
                            <p:menuitem value="BannerClickCounts" outcome="/pages/bannerClickCounts/List.xhtml" />
                            <p:menuitem value="Blogentry" outcome="/pages/blogentry/List.xhtml" />
                            <p:menuitem value="BookedRates" outcome="/pages/bookedRates/List.xhtml" />
                            <p:menuitem value="BookingLockingDays" outcome="/pages/bookingLockingDays/List.xhtml" />
                            <p:menuitem value="Carparkbooking" outcome="/pages/carparkbooking/List.xhtml" />
                            <p:menuitem value="Carparkfacility" outcome="/pages/carparkfacility/List.xhtml" />
                            <p:menuitem value="Carparkfacility1" outcome="/pages/carparkfacility1/List.xhtml" />
                            <p:menuitem value="Carparkoperator" outcome="/pages/carparkoperator/List.xhtml" />
                            <p:menuitem value="Carparkpricing" outcome="/pages/carparkpricing/List.xhtml" />
                            <p:menuitem value="Carparkpricing1" outcome="/pages/carparkpricing1/List.xhtml" />
                            <p:menuitem value="Carparkservice" outcome="/pages/carparkservice/List.xhtml" />
                            <p:menuitem value="Carparkservice1" outcome="/pages/carparkservice1/List.xhtml" />
                            <p:menuitem value="Crowduser" outcome="/pages/crowduser/List.xhtml" />
                            <p:menuitem value="District" outcome="/pages/district/List.xhtml" />
                            <p:menuitem value="Fotos" outcome="/pages/fotos/List.xhtml" />
                            <p:menuitem value="Invoice" outcome="/pages/invoice/List.xhtml" />
                            <p:menuitem value="Longtermparkingrate" outcome="/pages/longtermparkingrate/List.xhtml" />
                            <p:menuitem value="Operatorservice" outcome="/pages/operatorservice/List.xhtml" />
                            <p:menuitem value="Parkarea" outcome="/pages/parkarea/List.xhtml" />
                            <p:menuitem value="Parkareaday" outcome="/pages/parkareaday/List.xhtml" />
                            <p:menuitem value="Parkareaday1" outcome="/pages/parkareaday1/List.xhtml" />
                            <p:menuitem value="Parkhaus" outcome="/pages/parkhaus/List.xhtml" />
                            <p:menuitem value="Parkuser" outcome="/pages/parkuser/List.xhtml" />
                            <p:menuitem value="Pricelist" outcome="/pages/pricelist/List.xhtml" />
                            <p:menuitem value="Proposal" outcome="/pages/proposal/List.xhtml" />
                            <p:menuitem value="Prpslcomment" outcome="/pages/prpslcomment/List.xhtml" />
                            <p:menuitem value="Userdata" outcome="/pages/userdata/List.xhtml" />
                            <p:menuitem value="Userrole" outcome="/pages/userrole/List.xhtml" />
                            <p:menuitem value="Uservehicle" outcome="/pages/uservehicle/List.xhtml" />
                            <p:menuitem value="Uservote" outcome="/pages/uservote/List.xhtml" />
                        </p:submenu>
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
